@keyframes oscillateBackground {
  0% {
    background-color: #b2b2b2;
  }
  50% {
    background-color: #ccc;
  }
  100% {
    background-color: #b2b2b2;
  }
}


#videoElement {
  animation: oscillateBackground 7s ease-in-out infinite !important;
}