#streamParent {
  position: relative;
}

#drawCanvas,
#captureCanvas {
  position: absolute;
  top: 0;
  left: 0;
  /* height: 32vw; */
  /* width: 100%; */
  padding: 16px;
  object-fit: cover;
}

.drawCanvasTraining,
#captureCanvas {
  opacity: 0;
}
