<!-- <footer class="footer">
    <div style="padding:0px" class="btn-group" role="group" aria-label="Basic example">
        <button style="padding:0px" class="btn btn-dark" type="button"><a style="padding:0px" href="https://www.media.mit.edu/">
            <div class="bg-dark text-white py-4 px-5 me-3" style="padding:0px">
                <img style="padding:0px" src="/static/assets/img/medialab.png" alt="Media Lab" height="35">
            </div>
        </a></button>
        <button style="padding:0px" class="btn btn-dark" type="button"><a style="padding:0px" href="https://psychiatry.weill.cornell.edu/">
            <div class="bg-dark text-white py-4 px-5 me-3" style="padding:0px">
                <img style="padding:0px" src="/static/assets/img/cornell.png" alt="Cornell" height="35">
            </div>
          </a></button>
        <button  style="padding:0px" class="btn btn-dark" type="button"><a  style="padding:0px" href="https://forefdn.org/">
            <div class="bg-dark text-white py-4 px-5 me-3" style="padding:0px">
                <img style="padding:0px" src="/static/assets/img/fore.png" alt="FORE" height="35">
            </div>
          </a></button>
      </div>
</footer> -->
