
    <div class="sidebar sidebar-dark sidebar-fixed"  style="--cui-sidebar-bg: #CF4520;" style="--cui-sidebar-color: #CF4520;" id="sidebar">
      <ul class="sidebar-nav" data-coreui="navigation" data-simplebar="" style="--cui-sidebar-nav-link-active-bg: #B31B1B;" style="--cui-sidebar-nav-link-hover-bg: #B31B1B;">
        <li class="nav-item"><a class="nav-link" href="home-base.html" style="color:#ffffff;">
          <svg class="nav-icon" style="color:#ffffff;">
            <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-house"></use>
          </svg> About</a></li>
          <li class="nav-item"><a class="nav-link" href="home-about.html" style="color:#ffffff;">
            <svg class="nav-icon" style="color:#ffffff;">
              <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-book"></use>
            </svg> Introduction</a></li>
        <li class="nav-item" ><a class="nav-link" href="karaoke-landing.html" style="color:#ffffff;">
              <svg class="nav-icon" style="color:#ffffff;">
                <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-mood-very-good"></use>
              </svg> Expression Practice</a></li>
        <li class="nav-item" ><a class="nav-link" href="training-landing.html" style="color:#ffffff;">
            <svg class="nav-icon" style="color:#ffffff;">
              <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-weightlifitng"></use>
            </svg> Training</a></li>
        <li class="nav-item" ><a class="nav-link" href="home-background.html" style="color:#ffffff;">
              <svg class="nav-icon" style="color:#ffffff;">
                <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-info"></use>
              </svg> Background Information</a></li>
        <li class="nav-item" ><a class="nav-link" href="home-references.html" style="color:#ffffff;">
              <svg class="nav-icon" style="color:#ffffff;">
                <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-address-book"></use>
              </svg> References</a></li>
        <li class="nav-item" ><a class="nav-link" href="home-consent.html" style="color:#ffffff;">
                <svg class="nav-icon" style="color:#ffffff;">
                  <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-fingerprint"></use>
                </svg> Informed Consent</a></li>
      </ul>
    </div>
    