{% extends "layouts/base-fullscreen.html" %}

{% block title %} Register {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="bg-white min-vh-100 d-flex flex-row align-items-center">
      <div class="container bg-white">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="card mb-4 mx-4 bg-light">
              <div class="card-body p-4">
                <h1 style="color: #CF4520">Register</h1>
                <p class="text-medium-emphasis">
                  {% if msg %}
                    {{ msg | safe }}
                  {% else %}              
                    
                  {% endif %}                  
                </p>

            <form role="form" method="post" action="">

              {{ form.hidden_tag() }} 

                <div class="input-group mb-3"><span class="input-group-text" style="color: #B31B1B">
                    <svg class="icon">
                      <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-user"></use>

                    </svg></span>
                  {{ form.username(placeholder="Username", class="form-control") }}
                </div>

                <div class="input-group mb-3"><span class="input-group-text" style="color: #B31B1B">
                    <svg class="icon">
                      <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-envelope-open"></use>
                    </svg></span>
                  {{ form.email(placeholder="Email", class="form-control") }}
                </div>

                <div class="input-group mb-3"><span class="input-group-text" style="color: #B31B1B">
                    <svg class="icon">
                      <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-lock-locked"></use>
                    </svg></span>
                  {{ form.password(placeholder="Password", class="form-control", type="password") }}
                </div>

                <div class="row">
                  <div class="col-6">
                    <a href="{{ url_for('authentication_blueprint.login') }}" class="btn btn-dark px-4" type="button">Back to login</a>
                  </div>
                  <div class="col-6 text-end">
                    <button class="btn btn-block btn-dark" type="submit" name="register">Create account</button>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
