{% extends "layouts/base.html" %}

{% block title %} Clinical Scenario 1 {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    
    <link href="/static/assets/vendors/@coreui/chartjs/css/coreui-chartjs.css" rel="stylesheet">

{% endblock stylesheets %}

{% block content %}

  <div class="body flex-grow-1 px-3">
    <div class="container-lg">
      <div class="card mb-4">
      <div class="card-body">
        <h4 class="card-title text-center" style="color: #E7751D"><strong>Clinical Scenario</strong></h4>
        <p class="card-text">
          You are working on the medicine inpatient floor. You are about to have an encounter with a 22
          year female patient who you have never seen before, but are here following an overdose from
          opioids. You read in their chart that they have no past history. The nurse also noted that the patient’s best friend at the bedside commented that “she
          has a long history of trauma since she was 22 years old”.
        </p>
      </div>
    </div>
    </div>
    <div class="card mb-4">
      <div class="card-body">
        <p class="card-text">
          To start, we are practicing carrying out a trauma-informed introduction with a variety of patient states. First, the patient will
          respond neutrally. Next, she will respond sadly. Finally, she will respond with anger, being dissatisfied with the treatment. Your goal is to respond accordingly.
        </p>
      </div>
    </div>
      <div class="card mb-4"> 
        <div class="card-body">
          <h4 class="card-title text-center" style="color: #E7751D"><strong>Level Selection</strong></h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-4">
          <div class="card text-white bg-primary mb-3 ">
            <div class="card-header">Level 1</div>
            <div class="card-body">
              <h5 class="card-title">Anxious patient</h5>
              <a href="cs1-1-polite-1.html" class="btn btn-primary stretched-link"><p class="card-text">Click here to proceed to the training.</p></a>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card text-white bg-primary mb-3">
            <div class="card-header">Level 2</div>
            <div class="card-body">
              <h5 class="card-title">Detached patient</h5>
              <a href="cs1-1-sad-1.html" class="btn btn-primary stretched-link"><p class="card-text">Click here to proceed to the training.</p></a>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
            <div class="card text-white bg-primary mb-3">
              <div class="card-header">Level 3</div>
              <div class="card-body">
                <h5 class="card-title">Angry-Paranoid patient</h5>
                <a href="cs1-1-agitated-1.html" class="btn btn-primary stretched-link"><p class="card-text">Click here to proceed to the training.</p></a>
              </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <a class="nav-link" href="training-landing.html">
          <button class="btn btn-dark" type="button">Back</button>
          </a>
        </div>
        </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <!-- Plugins and scripts required by this view-->
  <script src="/static/assets/vendors/chart.js/js/chart.min.js"></script>
  <script src="/static/assets/vendors/@coreui/chartjs/js/coreui-chartjs.js"></script>
  <script src="/static/assets/vendors/@coreui/utils/js/coreui-utils.js"></script>
  <script src="/static/assets/js/main.js"></script>
  <script src="/static/assets/js/index.js"></script>

{% endblock javascripts %}
