{% extends "layouts/base.html" %}

{% block title %} Training {% endblock %} 

{% block stylesheets %}
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.179.0.min.js"></script>
{% endblock stylesheets %}

{% block content %}

<div class="body flex-grow-1 px-3">
  <div class="container-lg">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h4 style="color: #B31B1B">Level 1: Anxious Patient</h4>
          <p class="card-text">
          Let's take a closer look on your reaction in the previous step. The chart on the right shows the facial expressions detected while you were listening to the patient. <br>
          Is it different from what you expected it to be?
          <br> <br> <br>
           When interacting with an anxious patient, apart from using <strong> compassionate and listening facial expressions we covered in the Expression Practice section</strong>, we suggest to try the following: <br>
           1) Speak clearly, slowly, and at an appropriate volume <br>
           2) Appear engaged, pleasant and calm <br>
           3) Maintain appropriate eye contact <br>
           4) Sit/stand at eye level with the patient <br>
           5) Avoid sudden movements <br>
           6) Pay attention to patient cues (i.e. tensing muscles, fidgeting, breathing quickly, flushing, crying, trembling, appearing distracted or spaced out) <br> <br>
           Click on "Play" below to watch the recording of your interaction with the patient, and compare it to the reaction of Dr.Compassion, who knows everything about trauma-informed care.
          </p> 
          </div>
        <div class="col">
         <div class="card text-center" style="padding: 1px">
          <canvas id="myChart" width="600" height="600" style="display: inline; box-sizing: border-box; height: 100%; width: 100%"></canvas>
         </div> 
        </div>
        </div>
      <div class="start-stop text-center">
            <button class="btn btn-dark" type="button" id="play" onclick="play()">Play</button>
            <button class="btn btn-dark" type="button" id="pause" onclick="pause()">Pause</button>
      </div>
      <div id="parents2" class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
          <div id="replayParent" class="card-body text-center">
            <video id="replay" style="width: 100%; height: 32vw; object-fit: cover" src="https://medship.s3.amazonaws.com/epxfgijgpn.mp4"></video>
          </div> 
        </div>
      </div>
        <div class="col">
          <div class="card">
          <div id="drSuperParent" class="card-body text-center">
            <video id="drSuperVid" controlslist="”nodownload”" style="width: 100%; height: 32vw; object-fit: cover">
              <source src="https://medship.s3.amazonaws.com/cs1/1/polite/dr.mp4" type="video/mp4">
            </video>
          </div> 
        </div>
        </div>
      </div>
    <div class="row">
      <div class="col-6">
        <a class="nav-link" href="cs1-1-polite-1.html">
        <button class="btn btn-dark" type="button">Back</button>
        </a>
      </div>
      <div class="col-6 text-end">
        <a class="nav-link" href="cs1-2-anxious-1.html">
        <button class="btn btn-dark" type="button">Next</button>
        </a>
      </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script src="/static/assets/vendors/chart.js/js/chart.min.js"></script>
  <script src="/static/assets/vendors/@coreui/chartjs/js/coreui-chartjs.js"></script>
  <script src="/static/assets/js/charts.js"></script>

  <script>
Window.onload = loadResults(); 
    function loadResults() {

      var ctx = document.getElementById('myChart');
      let results = localStorage.getItem("results");
      const config = {
        type: 'pie',
        data: {
            labels: ['Angry', 'Disgust', 'Fear', 'Happy', 'Sad', 'Surprise', 'Neutral'],
            datasets: [
              {
                label: 'Dataset',
                data: results,
                backgroundColor: [
                  'rgba(255, 99, 132, 0.5)',
                  'rgba(54, 162, 235, 0.5)',
                  'rgba(255, 206, 86, 0.5)',
                  'rgba(75, 23, 192, 0.5)',
                  'rgba(54, 162, 45, 0.5)',
                  'rgba(27, 206, 86, 0.5)',
                  'rgba(35, 92, 192, 0.5)'
                ]
              }
            ]
          },
        options: {
          responsive: true,
          plugins: {
            title: {
              display: true,
              text: 'Expressions Detected'
            }
          }
        },
      };
      var myChart = new Chart(ctx, config);
    }

    let replayVid = document.getElementById("replay");
    let drSuperVid = document.getElementById("drSuperVid");
    let filename = localStorage.getItem("filename");

    replayVid.src = filename;

    function play() {
        replayVid.play();
        drSuperVid.play();
        loadResults();
    }

    function pause() {
        replayVid.pause();
        drSuperVid.pause();
    }

  </script>

{% endblock javascripts %}
