{% extends "layouts/base.html" %}

{% block title %} Training {% endblock %}

{% block stylesheets %}
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.179.0.min.js"></script>
{% endblock stylesheets %}

{% block content %}

<div class="body flex-grow-1 px-3">
  <div class="container-lg">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h4 style="color: #B31B1B">Level 1: Polite conversation</h4>
          <p class="card-text">
            The chart on the right shows the facial expressions detected while you were listening to the patient. <br>
            <strong> Is it different from what you expected it to be? </strong>
          </p>
          <br>
          The following actions have proven to be helpful when talking to an anxious patient: <br>
          1) Speaking clearly, slowly, and at an appropriate volume <br>
          2) Appearing engaged, pleasant and calm <br>
          3) Maintaining appropriate eye contact <br>
          4) Sitting/standing at eye level with the patient <br>
          5) Avoiding sudden movements <br> <br>
          Click on "Play" below to watch the recording of your interaction with the patient, and compare it to the
          reaction of Dr.Compassion.
          </p>
        </div>
        <div class="col">
          <div class="card text-center" style="padding: 3px">
            <canvas id="myChart" width="600" height="400"></canvas>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="start-stop text-center">
          <button class="btn btn-dark" type="button" id="play" onclick="play()">Play</button>
          <button class="btn btn-dark" type="button" id="pause" onclick="pause()">Pause</button>
        </div>
      </div>

      <div id="parents2" class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <div id="replayParent" class="card-body text-center">
              <video id="replay" style="width: 100%; height: 400px; object-fit: cover"></video>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div id="drSuperParent" class="card-body text-center">
              <video id="drSuperVid" controlslist="”nodownload”" style="width: 100%; height: 400px; object-fit: none">
                <source src="https://medship.s3.amazonaws.com/cs1/1/polite/dr.mp4" type="video/mp4">
              </video>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <a class="nav-link" href="cs1-1-polite-1.html">
            <button class="btn btn-dark" type="button">Back</button>
          </a>
        </div>
        <div class="col-6 text-end">
          <a class="nav-link" href="cs1-2-anxious-1.html">
            <button class="btn btn-dark" type="button">Next</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="/static/assets/vendors/chart.js/js/chart.min.js"></script>
<script src="/static/assets/vendors/@coreui/chartjs/js/coreui-chartjs.js"></script>
<script src="/static/assets/js/charts.js"></script>

<script>
  
function loadResults() {
  const results = JSON.parse(localStorage.getItem("results"));
  const timestamps = results.map(dataPoint => dataPoint[0]);
  const labels = timestamps.map(timestamp => formatTimestamp(timestamp));

  const ctx = document.getElementById('myChart').getContext('2d');
  const chart = new Chart(ctx, {
    type: 'scatter',
    data: {
      labels: labels, // Update labels to use timestamps
      datasets: [
        {
          label: 'Welcoming',
          data: getDetectionData(results, 'welcoming'),
          backgroundColor: 'rgba(255, 99, 132, 0.5)',
          borderColor: 'rgba(255, 99, 132, 1)',
          pointStyle: 'circle'
        },
        {
          label: 'Listening',
          data: getDetectionData(results, 'listening'),
          backgroundColor: 'rgba(54, 162, 235, 0.5)',
          borderColor: 'rgba(54, 162, 235, 1)',
          pointStyle: 'circle'
        },
        {
          label: 'Compassionate',
          data: getDetectionData(results, 'compassion'),
          backgroundColor: 'rgba(75, 192, 192, 0.5)',
          borderColor: 'rgba(75, 192, 192, 1)',
          pointStyle: 'circle'
        }
      ]
    },
    options: {
      responsive: true,
      plugins: {
        title: {
          display: true,
          text: 'Expressions Detected Over Time'
        },
        legend: {
          display: true
        }
      },
      scales: {
        x: {
          display: true,
          title: {
            display: true,
            text: 'Time'
          },
          type: 'linear', // Set the X-axis type to linear
          position: 'bottom'
        },
        y: {
          display: true,
          title: {
            display: true,
            text: 'Detection'
          },
          suggestedMin: 0,
          suggestedMax: 1,
          ticks: {
            stepSize: 1
          }
        }
      },
      tooltips: {
        callbacks: {
          label: function (context) {
            const dataPoint = results[context.dataIndex];
            const timestamp = formatTimestamp(dataPoint[0]);
            const detection = context.dataset.label;
            return `${detection}: ${timestamp}`;
          }
        }
      }
    }
  });
}

function getDetectionData(results, detectionType) {
  return results.map(dataPoint => {
    const detectionValue = dataPoint[1][detectionType];
    return {
      x: dataPoint[0], // Use 'unix_timestamp' for X-axis
      y: detectionValue
    };
  });
}

function formatTimestamp(timestamp) {
  const date = new Date(timestamp);
  return date.toLocaleTimeString(); // Update this line with your desired formatting logic
}

const replayVid = document.getElementById("replay");
const drSuperVid = document.getElementById("drSuperVid");
const filename = localStorage.getItem("filename");

replayVid.src = filename;
replayVid.load();

function play() {
  replayVid.play();
  drSuperVid.play();
}

function pause() {
  replayVid.pause();
  drSuperVid.pause();
}

window.onload = loadResults;
</script>

{% endblock javascripts %}
