{% extends "layouts/base.html" %}

{% block title %} Clinical Scenario {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

  <div class="body flex-grow-1 px-3" >
    <div class="container-lg">
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card mb-4">
            <div class="card-body">
              <h4 class="card-title text-center" style="color: #E7751D"><strong>Clinical Scenario 1</strong></h4>
              <p class="card-text">
                You are working on the medicine inpatient floor. You are about to have an encounter with a 22
                year female patient who you have never seen before, but are here following an overdose from
                opioids. You read in their chart that they have no past
                history. The nurse also noted that the patient’s best friend at the bedside commented that “she
                has a long history of trauma since she was 22 years old”.
              </p>
            </div>
          </div>
          <div class="card mb-4">
            <div class="card-body">
              <h4 class="card-title text-center" style="color: #E7751D"><strong>Task 1</strong></h4>
              <p class="card-text">
                To start, we are practicing carrying out a trauma-informed introduction with a variety of patient states. First, the patient will
                respond neutrally. Next, she will respond sadly. Finally, she will respond with anger, being dissatisfied with the treatment.
              </p>
              <p class="card-text">
                Continue to the next page and introduce who you are, asking their full name and preferred pronouns so that you can refer to them
                respectfully during the visit.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <img src="/static/assets/img/patient1.png" alt="Clinic" style="width: 100%; height: 25vw; object-fit: cover;">
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <a class="nav-link" href="cs1-b.html">
          <button class="btn btn-dark" type="button">Back</button>
          </a>
        </div>
        <div class="col-6 text-end">
          <a class="nav-link" href="cs1-1-polite-1.html">
          <button class="btn btn-dark" type="button">Continue</button>
          </a>
        </div>
      </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
