{% extends "layouts/base.html" %}

{% block title %} Training {% endblock %} 

{% block stylesheets %}
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.179.0.min.js"></script>
{% endblock stylesheets %}

{% block content %}

<div class="body flex-grow-1 px-3">
  <div class="container-lg">
    <div class="card-body">
      <p class="display-6" style="color: #B31B1B">Level 1: Anxious Patient</p>
      <div class="row">
        <div class="col-sm">
           <h6> Let's take a closer look on what has just happened on the previous step. The chart on the right shows facial expressions detected while you were listening to the patient. </h6> <br>
           <h6> Addiction is often considered an illness characterized by “loss of free will”. In other words, the neurobiological systems become rewired to depend on the substance, in such a way that guides behaviors and cognitions to maintain usage at all costs, and it becomes very difficult to modulate over time. The brain circuits affected by addiction include those involved with impulse executive functioning (i.e. decision-making), control, memory, reward, and stress. Over time, there are changes in brain functioning which is the cause of one's risk in using substances or continuously craving it during recovery. This knowledge can help counteract the belief that individuals with addiction are choosing to engage in destructive behaviors. Viewing OUD illness as a medical disease promotes greater compassion for our patients.</h6>
           <br> <br> 
           <h6> Click on "Play" below to watch the recording of your interaction with the patient, and compare it to the reaction of Dr.Compassion, who knows everything about the trauma-informed care. </h6>
          </div>
        <div class="col-sm">
         <div class="card" style="padding: 0px" width="100%" height="100%">
            <canvas id="myChart"></canvas>
         </div> 
        </div>
        </div>
      <div class="start-stop text-center">
            <button class="btn btn-dark" type="button" id="play" onclick="play()">Play</button>
            <button class="btn btn-dark" type="button" id="pause" onclick="pause()">Pause</button>
      </div>
      <div id="parents2" class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div id="replayParent" class="card-body text-center">
            <video id="replay" style="width: 100%; height: 32vw; object-fit: cover" src="https://medship.s3.amazonaws.com/epxfgijgpn.mp4"></video>
          </div> 
          <div class="card-body text-center">
            <p class="display-5" style="color: #B31B1B">You</p>
          </div>
        </div>
        <div class="col">
          <div id="drSuperParent" class="card-body text-center">
            <video id="drSuperVid" controlslist="”nodownload”" style="width: 100%; height: 32vw; object-fit: cover">
              <source src="https://medship.s3.amazonaws.com/cs1/1/polite/dr.mp4" type="video/mp4">
            </video>
          </div> 
          <div class="card-body text-center">
            <p class="display-5" style="color: #B31B1B">Dr. Compassion</p>
          </div>
        </div>
      </div>
    <div class="row">
      <div class="col-6">
        <a class="nav-link" href="cs1-1-polite-1.html">
        <button class="btn btn-dark" type="button">Back</button>
        </a>
      </div>
      <div class="col-6 text-end">
        <a class="nav-link" href="cs1-2-anxious-1.html">
        <button class="btn btn-dark" type="button">Next</button>
        </a>
      </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script src="/static/assets/vendors/chart.js/js/chart.min.js"></script>
  <script src="/static/assets/vendors/@coreui/chartjs/js/coreui-chartjs.js"></script>
  <script src="/static/assets/js/charts.js"></script>

  <script>

    function loadResults() {

      var ctx = document.getElementById('myChart');
      let results = localStorage.getItem("results");
      const config = {
        type: 'pie',
        data: {
            labels: ['Angry', 'Disgust', 'Fear', 'Happy', 'Sad', 'Surprise', 'Neutral'],
            datasets: [
              {
                label: 'Dataset',
                data: results,
                backgroundColor: [
                  'rgba(255, 99, 132, 0.5)',
                  'rgba(54, 162, 235, 0.5)',
                  'rgba(255, 206, 86, 0.5)',
                  'rgba(75, 23, 192, 0.5)',
                  'rgba(54, 162, 45, 0.5)',
                  'rgba(27, 206, 86, 0.5)',
                  'rgba(35, 92, 192, 0.5)'
                ]
              }
            ]
          },
        options: {
          responsive: false,
          plugins: {
            title: {
              display: true,
              text: 'Expressions Detected'
            }
          }
        },
      };
      var myChart = new Chart(ctx, config);
    }

    let replayVid = document.getElementById("replay");
    let drSuperVid = document.getElementById("drSuperVid");
    let filename = localStorage.getItem("filename");

    replayVid.src = filename;

    function play() {
        replayVid.play();
        drSuperVid.play();
        loadResults();
    }

    function pause() {
        replayVid.pause();
        drSuperVid.pause();
    }
    
  </script>

{% endblock javascripts %}
