{% extends "layouts/base.html" %}

{% block title %} Training {% endblock %}

{% block stylesheets %}
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.179.0.min.js"></script>
<style>
  #myChart {
    width: 500px !important;
    height: 500px !important;
  }
</style>

{% endblock stylesheets %}

{% block content %}
<h3 style="color: #B31B1B">Level 2: Detached patient</h3>
<br>
<p class="card-text">Click on "Play" below to watch the recording of your interaction with the patient, and compare it to the
  reaction of Dr.Compassion.</p>
<div id="parents2" class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <div id="replayParent" class="card-body text-center">
        <video id="replay" style="width: 530px; height: 400px; object-fit: cover"></video>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div id="drSuperParent" class="card-body text-center">
        <video id="drSuperVid" controlslist="”nodownload”" style="width: 530px; height: 400px; object-fit: none">
          <source src="https://medship.s3.amazonaws.com/cs1/2/detached/dr.mp4" type="video/mp4">
        </video>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="start-stop text-center">
    <button class="btn btn-dark" type="button" id="play" onclick="play()">Play</button>
    <button class="btn btn-dark" type="button" id="pause" onclick="pause()">Pause</button>
  </div>
</div>
<br>
      <div class="row">
        <div class="col">
          <p class="card-text">
            <strong>The chart on the right shows the facial expressions detected while you were listening to the patient.</strong>
          <br><br>
          The following actions have proven to be helpful when talking to an anxious patient: <br>
          1) Speaking clearly, slowly, and at an appropriate volume <br>
          2) Appearing engaged, pleasant and calm <br>
          3) Maintaining appropriate eye contact <br>
          4) Sitting/standing at eye level with the patient <br>
          5) Avoiding sudden movements <br> 
          </p>
        </div>
        <div class="col" style="text-align:center">
          <canvas id="myChart" style="display: inline; box-sizing: border-box;"></canvas>
      </div>
      </div>
     <h3 style="text-align:center"> Is it different from what you expected it to be? </h3>
      <div class="row">
        <div class="col-6">
          <a class="nav-link" href="cs1-2-detached-1.html">
            <button class="btn btn-dark" type="button">Back</button>
          </a>
        </div>
        <div class="col-6 text-end">
          <a class="nav-link" href="cs1-3-detached-1.html">
            <button class="btn btn-dark" type="button">Next</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="/static/assets/vendors/chart.js/js/chart.min.js"></script>
<script src="/static/assets/vendors/@coreui/chartjs/js/coreui-chartjs.js"></script>
<script src="/static/assets/js/charts.js"></script>
<script src="/static/assets/js/training-chart.js"></script>

{% endblock javascripts %}
