{% extends "layouts/base.html" %}

{% block title %} Training {% endblock %} 

{% block stylesheets %}
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.179.0.min.js"></script>
{% endblock stylesheets %}

{% block content %}

  <div class="body flex-grow-1 px-3" >
    <div class="container-lg">
        <div class ="card-body text-center">
            <div class="start-stop">
              <button class="btn btn-dark" type="button" id="play" onclick="play()">Play</button>
              <button class="btn btn-dark" type="button" id="pause" onclick="pause()">Pause</button>
            </div>
          </div>
        <div id="parents2" class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col">
            <div id="replayParent" class ="card-body text-center">
              <video id="replay" style="width: 100%; height: 32vw; object-fit: cover" ></video>
            </div> 
            <div class="card-body text-center">
              <p class="display-5" style="color: #B31B1B">You</p>
            </div>
          </div>
          <div class="col">
            <div id="drSuperParent" class ="card-body text-center">
              <video id="drSuperVid" controlsList=”nodownload” style="width: 100%; height: 32vw; object-fit: cover">
                <source src="https://medship.s3.amazonaws.com/cs2/4/neutral1/dr.MOV" >
              </video>
            </div> 
            <div class="card-body text-center">
              <p class="display-5" style="color: #B31B1B">Dr. Superstar</p>
            </div>
          </div>
        </div>
      <div class="row">
        <div class="col-6">
          <a class="nav-link" href="cs2-4a-1.html">
          <button class="btn btn-dark" type="button">Back</button>
          </a>
        </div>
        <div class="col-6 text-end">
          <a class="nav-link" href="cs2-4b-1.html">
          <button class="btn btn-dark" type="button">Part B</button>
          </a>
        </div>
        </div>
      </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    let replayVid = document.getElementById("replay");
    let drSuperVid = document.getElementById("drSuperVid");
    let filename = localStorage.getItem("filename");

    replayVid.src = filename;

    function play() {
        replayVid.play();
        drSuperVid.play();
    }

    function pause() {
        replayVid.pause();
        drSuperVid.pause();
    }

  </script>

{% endblock javascripts %}
