{% extends "layouts/base.html" %}

{% block title %} Training {% endblock %} 

{% block stylesheets %}
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.179.0.min.js"></script>
{% endblock stylesheets %}

{% block content %}

  <div class="body flex-grow-1 px-3" >
    <div class="container-lg">
        <div class ="card-body text-center">
            <div class="start-stop">
              <button class="btn btn-dark" type="button" id="play" onclick="play()">Play</button>
              <button class="btn btn-dark" type="button" id="pause" onclick="pause()">Pause</button>
            </div>
          </div>
        <div id="parents2" class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col">
            <div id="replayParent" class ="card-body text-center">
              <video id="replay" style="width: 100%; height: 32vw; object-fit: cover" ></video>
            </div> 
            <div class="card-body text-center">
              <p class="display-5" style="color: #B31B1B">You</p>
            </div>
          </div>
          <div class="col">
            <div id="drSuperParent" class ="card-body text-center">
              <video id="drSuperVid" controlsList=”nodownload” style="width: 100%; height: 32vw; object-fit: cover">
                <source src="https://medship.s3.amazonaws.com/cs2/3/angry/dr.MOV" type="video/mp4">
              </video>
            </div> 
            <div class="card-body text-center">
              <p class="display-5" style="color: #B31B1B">Dr. Compassion</p>
            </div>
          </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col">
            <div class = "card" style = "padding: 0px" width="100%" height="100%">
              <canvas id="myChart"></canvas>
            </div>
          </div>
          <div class ="col"></div>
        </div>
      <div class="row">
        <div class="col-6">
          <a class="nav-link" href="cs2-3-angry-1.html">
          <button class="btn btn-dark" type="button">Back</button>
          </a>
        </div>
        <div class="col-6 text-end">
          <a class="nav-link" href="cs2-3-sad-1.html">
          <button class="btn btn-dark" type="button">Level 3</button>
          </a>
        </div>
        </div>
      </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script src="/static/assets/vendors/chart.js/js/chart.min.js"></script>
  <script src="/static/assets/vendors/@coreui/chartjs/js/coreui-chartjs.js"></script>
  <script src="/static/assets/js/charts.js"></script>

  <script>

    function loadResults() {

      var ctx = document.getElementById('myChart');
      let results = localStorage.getItem("results");
      const config = {
        type: 'polarArea',
        data: {
            labels: ['Angry', 'Disgust', 'Fear', 'Happy', 'Sad', 'Surprise', 'Neutral'],
            datasets: [
              {
                label: 'Dataset',
                data: results,
                backgroundColor: [
                  'rgba(255, 99, 132, 0.5)',
                  'rgba(54, 162, 235, 0.5)',
                  'rgba(255, 206, 86, 0.5)',
                  'rgba(75, 23, 192, 0.5)',
                  'rgba(54, 162, 45, 0.5)',
                  'rgba(27, 206, 86, 0.5)',
                  'rgba(35, 92, 192, 0.5)'
                ]
              }
            ]
          },
        options: {
          responsive: false,
          plugins: {
            title: {
              display: true,
              text: 'Expressions Detected'
            }
          }
        },
      };
      var myChart = new Chart(ctx, config);
    }

    let replayVid = document.getElementById("replay");
    let drSuperVid = document.getElementById("drSuperVid");
    let filename = localStorage.getItem("filename");

    replayVid.src = filename;

    function play() {
        replayVid.play();
        drSuperVid.play();
        loadResults();
    }

    function pause() {
        replayVid.pause();
        drSuperVid.pause();
    }

  </script>

{% endblock javascripts %}
