{% extends "layouts/base.html" %}

{% block title %} Pre-Module {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

  <div class="body flex-grow-1 px-3" >
    <div class="container-lg">
      <div class="card mb-4">
        <div class="card-body">
          <h4 class="card-title text-center" style="color: #E7751D"><strong>Meeting the Patient Where They Are At</strong></h4>
          <p class="card-text">
            Often times, patients who use drugs might not be aware or ready to consider stopping their use.
For some, the negative consequences associated with their use have never been brought forward
to them and therefore they never considered it as an issue affecting their lives. For others, they
might recognize the problem, but might not know what concrete steps they can take to improve
their health or might not be ready for change. It is your job as a future physician to engage them
in compassionate and empathetic dialogue, such that you both can work to figure out what might
be most helpful to them at this stage in their decision-making process.
          </p>
          <p class="card-text">
            If a patient is not ready to quit their use just yet, there are tangible ways you can support them.
This module will take a deeper dive into the utility of harm-reduction efforts. Harm reduction
aims to reduce the negative health and social consequences associated with drug use. Many of
these techniques can be integrated into clinical practice immediately.
          </p>
          <p class="card-text">
            <table class="table table-borderless">
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Harm reduction is evidence-based and patient-centered.</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Don’t punish a patient for showing symptoms of a disease that they are seeking out
                        support for.</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Offer tools without trying to control their behavior.</td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>Understand that relapse is part of the recovery process.
                        </td>
                  </tr>
                </tbody>
            </table>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <a class="nav-link" href="cs2-1.html">
          <button class="btn btn-dark" type="button">Back</button>
          </a>
        </div>
        <div class="col-6 text-end">
          <a class="nav-link" href="cs2-3.html">
          <button class="btn btn-dark" type="button">Continue</button>
          </a>
        </div>
      </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
