{% extends "layouts/base.html" %}

{% block title %} Home {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

  <div class="body flex-grow-1 px-3" >
    <div class="container-lg">
      <div class="card mb-4">
        <div class="card-body">
          <h4 class="card-title" style="color: #E7751D"><strong>How do we use your data?</strong></h4>
          <p class="card-text">
            Within Medship, your video and audio will be recorded as you interact with the patients. This is so that our algorithms
            are able to process your video and predict your expressions. In order to do this, we briefly save your video on a secure
            server. 

            None of your data is ever used beyond this, shared, or sold. 
          </p>
        </div>
      </div>
      <div class="card-group text-center">
        <div class="card bg-white"><img class="card-img-top" src="assets/img/cornell.png" alt="">
          <div class="card-body">
            <a href="https://substanceusestigma.weill.cornell.edu/" style="text-decoration: none">
              <img src="/static/assets/img/cornell.png" alt="Cornell" style="width: 100%">
            </a>
          </div>
        </div>
        <div class="card bg-white"><img class="card-img-top" src="assets/img/medialab.png" alt="">
          <div class="card-body">
            <a href="https://www.media.mit.edu/groups/affective-computing/overview/" style="text-decoration: none">
              <img id='mlimg' src="/static/assets/img/medialab.png" alt="MediaLab" style="width: 40%; filter: invert(100%)">
            </a>
          </div>
        </div>
        <div class="card bg-white"><img class="card-img-top" src="assets/img/fore.png" alt="">
          <div class="card-body">
            <a href="https://forefdn.org/about-us/" style="text-decoration: none">
              <img src="/static/assets/img/fore.png" alt="FORE" style="width: 35%;">
            </a>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-6">
          <a class="nav-link" href="index.html">
          <button class="btn btn-dark" type="button">Back</button>
          </a>
        </div>
        <div class="col-6 text-end">
          <a class="nav-link" href="home-about.html">
          <button class="btn btn-dark" type="button">Continue</button>
          </a>
        </div>
      </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>

</script>


{% endblock javascripts %}
