{% extends "layouts/base.html" %}

{% block title %} Home {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

  <div class="body flex-grow-1 px-3" >
    <div class="container-lg">
      <div class="card mb-4">
        <div class="card-body">
            <h4 class="fw-bolder" style="color: #E7751D">Awareness as a Campaign</h4>
            <p>
              Awareness is a powerful tool, and bringing awareness to clinicians via this module is a start. Another way to bring about awareness is to allow clinicians to reflect on interactions with individuals with SUD via dedicated time to do so. One place where this reflection can take place is in supervision or training programs. These reflections proved fruitful in a study done by Ballon and Skinner in 2008, where different forms of reflections were interwoven into the psychiatry rotation.  During the Addiction Psychiatry rotation, training clinicians were asked to reflect on discussion groups, to keep a reflection journal, and to write an end-of-course reflection paper (Balloon & Skinner, 2008). If started early in training, the clinicians’ attitudes toward individuals with SUDs may have a more positive trajectory (Avery & Zerbo, 2015). 
            </p>
            Awareness that individuals with SUDs can have a positive outcome is also important.  Efforts to familiarize clinicians with the stories of individuals in recovery will be key. These can take place both by inviting individuals in recovery to speak to clinicians and by gaining access to individuals in recovery in the community, by attending, for example, open 12-step meetings.   
            <p>
            <h4 class="fw-bolder" style="color: #E7751D">Importance of Intervening with Senior Clinicians</h4>
            <p>
              While the interventions recommended above target new trainees, additional efforts should be made to intervene with senior clinicians. By intervening with senior clinicians, the “hidden curriculum” has an opportunity to shift. As mentioned previously, the “hidden curriculum” plays an instrumental role in shaping the attitudes and opinions of younger clinicians as well as larger institutions (Avery & Zerbo, 2015).  One way to affect change is by placing senior clinicians who actively seek out work with SUDs in charge of elements of the training course. If new trainees witness their supervising senior clinicians treating individuals with SUDs with respect and empathy, in turn, they will likely do the same (Avery & Zerbo, 2015).  
            </p>
            <p>
              Medical clinicians are trained to identify and treat diseases. Physicians, in the spirit of the Hippocratic Oath, vow to use their ability and judgment to help the sick, regardless of whom the sick might be. Thus, it is often assumed that the professionals in the medical community hold unbiased attitudes toward their patients, including toward individuals with opioid use disorder (OUD).
            </p>
            <p>
              It turns out that the opposite is true. Physicians often have worse attitudes toward individuals with substance use disorders (SUDs), more so than toward individuals with other medical and mental health diagnoses (Anderson, 1992; Avery & Barnhill, 2017; Avery et al., 2013; Avery et al., 2017; Avery et al., 2018; Avery et al., 2016; Avery & Zerbo, 2015). Further, these attitudes may deteriorate over time. Those who have been practicing for longer have been shown to have even worse attitudes toward patients with SUDs, and the worst toward opioid use disorder (Avery et al. 2017; Avery et al., 2016; Avery & Zerbo, 2015).
            </p>
            <p>
              The American Academy for Addiction Medicine defines addiction as a treatable, chronic medical disease involving complex interactions among brain circuits, genetics, the environment, and an individual’s life experiences.
            </p>
            <p>
              People with addiction use substances or engage in behaviors that become compulsive and often continue despite harmful consequences. Prevention efforts and treatment approaches for addiction are generally as successful as those for other chronic diseases.
            </p>
            <p>
              According to the World Health Organization, drug addiction is the number one most stigmatized social problem, even over poverty, incarceration, homelessness, mental illness, and alcoholism (Room et al., 2001). Defined as an attribute, behavior, or condition that is socially discrediting, stigma stands as one of the largest barriers to individual recovery. One way to prevent such destructiveness is to identify and eradicate its foundations.
            </p>
            <p>
              Stigma stands as a crucial determinant of health. Experiencing negative labels associated with use lowers self-esteem, which in turn lowers self-efficacy, which then might lead one to relapse or initiate the use of substances. Stigma also decreases social support. If one is viewed as someone who has a lesser social value, people are less likely to help. In this vein, stigma also limits one's access to treatment. Many psychosocial treatment modalities target the foundation on which stigma might be perpetuated, such as interpersonal isolation and social punishment due to use. 
            </p>
            <p>
              Research has consistently found that clinicians' negative attitudes toward patients with OUD result in worse quality of care. Negative attitudes have been shown to manifest in clinicians' beliefs that the patients with OUD are manipulative, lack motivation, and are violent (Ballon and Skinner, 2008; Capurso & Shorter, 2017). In addition, empathy is a key element of effective medical care, and negative clinical attitudes almost always result in reduced empathy for patients. In short, patient-centered care models are enfeebled, and actual treatment outcomes deteriorate (Van Boekel et al, 2013; Capurso & Shorter, 2017).
            </p>
            <p>
              During training, most health care professionals learn that addiction is an illness. Research into neurobiology and the neurocircuitry of addiction is actively progressing, and the disease model of addiction is now robustly supported.
            </p>
            <p>
              Despite these advances, many health care professionals still believe that addiction and substance use disorders are primarily moral failings. Clinicians may feel that if a person could just “get it together”, the problem would resolve. This mentality partly explains why attitudes toward patients with OUD are still negative despite enhanced training on how to care for these individuals.

            </p>
            <p>
              A major 2011 study compared clinicians' attitudes toward patients with SUDs to their attitudes toward patients with depression or diabetes. The findings were clear: physicians, psychiatrists, psychologists, nurses, and social workers had less regard for individuals with SUDs than they did toward individuals who suffered from other illnesses, such as diabetes and depression (Gilchrist et al., 2011).

            </p>
            <p>
              The evidence suggests that these negative attitudes are not stagnant. While they form at the beginning of training, they appear to worsen over time. A study of psychiatry residents found that they stigmatized patients with SUDs more than patients with other mental health diagnoses—and these negative attitudes towards patients with SUDs were worse for more senior residents. Post-graduate year (PGY) 3 or 4 residents had significantly worse attitudes toward patients with SUDs than did junior residents (PGY 1 or 2) (Avery et al. 2017; Avery & Zerbo 2015; Geller et al. 1989; Lindberg et al. 2006). 

            </p>
            <p>
              Additional research has also found a decline in attitudes towards individuals with SUDs over time. A survey of medical students at Johns Hopkins Medical School compared the medical students' attitudes toward those with SUDs to the attitudes held by members of the senior house staff. In line with our findings, the senior house staff held more negative attitudes toward individuals with SUDs than did the medical students. In other words, the most knowledgeable, successful, and highly-trained physicians had worse attitudes than their students.

            </p>
            <p>
              Likewise, research has found that feelings of satisfaction with working with individuals with SUDs decreased over years of training; at the same time, beliefs that individuals with SUDs were high utilizers of health care services increased (Lindberg et al, 2006).
            </p>
            <p>
              Given the overwhelming evidence of attitudinal negativity, we might wonder whether any physicians hold positive attitudes toward individuals with SUDs. It turns out that one subset, in particular, has less stigma toward individuals with SUDs: clinicians who have chosen to work with such patients (Gilchrist et al., 2011; Avery et al., 2013). While this alone is interesting, more research is needed to determine which attributes and cognitions might distinguish these clinicians from their colleagues.
            </p>
            <p>
              Research has consistently found that clinicians' negative attitudes toward patients with SUDs result in worse quality of care? (Ballon & Skinner, 2008; Capurso & Shorter, 2017). What contributes to such attitudes? One school of thought is that lack of education and knowledge on how to care for individuals with SUDs may lead to health care professionals' negative attitudes. 
            </p>
            <p>
              As a result, medical schools and other training programs have increasingly added addiction education and skills to their curricula (Buchsbaum et al, 1992; Freidman et al, 2001; Miller et al., 2001; Polydorou et al., 2008; Gopalan et al., 1992; Ianucci et al., 2009). These interventions, however, have not been sufficient to improve attitudes. That is, it appears that increasing knowledge through educational courses is helpful but not, in itself, a solution

            </p>
            <p>
              Addiction is often considered an illness characterized by “loss of free will”. In other words, the neurobiological systems become rewired to depend on the substance, in such a way that guides behaviors and cognitions to maintain usage at all costs, and it becomes very difficult to modulate over time (Volkow & Boyle, 2018). The brain circuits affected by addiction include those involved with impulse executive functioning (i.e. decision-making), control, memory, reward, and stress (Volkow & Baler, 2013). Over time, there are changes in brain functioning which is the cause of one's risk in using substances or continuously craving it during recovery. This knowledge can help counteract the belief that individuals with addiction are choosing to engage in destructive behaviors. Viewing OUD illness as a medical disease promotes greater compassion for our patients.

            </p>
            <p>
              Clinicians tend to have few encounters with individuals with OUD who are in recovery. Unless they specialize in addiction, they encounter such patients when they are in acute use or withdrawal phases, and they often do not have sufficient time and resources to understand the person behind the disease. In short, they see only the difficult periods, and they do not see the successes. These negative encounters (and lack of positive encounters) lead to self-perpetuating negative beliefs about patients with OUD.

            </p>
            <p>
              One variable mediating the degree of stigma toward an individual with a SUD is empathy. In a clinical context, empathy refers to the physician’s ability to understand a patient’s emotional state, its surrounding circumstance, and then reflect such understanding back to the patient. Empathic physicians are able to communicate and listen with greater reflective tendency than those who aren’t (Bays et al, 2014; Pollak, 2011). Research has demonstrated that improved communication between physician and patient, of which empathy is a critical component of, is associated with better adherence to medications, fewer physician mistakes, and greater patient satisfaction (Jani et al., 2012). Unfortunately, empathy has been found to decrease as one progresses through medical training (Patel et al., 2019; Neumann et al., 2011).

            </p>
            <p>
              Clinicians tend to underestimate their own cognitive and affective states during these difficult patient presentations. Many clinicians identify with valorized medical ideals, such as saving lives and healing, which can be complicated by repeated difficult presentations of these patients. OUD, depending on its acuity, might challenge these ideals and a clinician's sense of feeling helpful to their patients.

            </p>
            <p>
              For the previous reasons discussed, senior clinicians often are the most jaded. After a career of such difficulties, their opinions about individuals with OUD are not just negative, they are solidified. It is indubitable that these opinions and perspectives of senior clinicians' impact younger clinicians’ views.  This is called the “hidden curriculum” of medical training: the unspoken attitudes and small details that supervising physicians convey when engaging with patients (Avery & Zerbo 2015).

            </p>
            <h4 class="fw-bolder" style="color: #E7751D">Substance Use Disorders</h4>
            <p>
              More often than not, an individual with SUDs also has other medical or psychiatric disorders (Avery & Barnhill, 2017). Patients with dual diagnoses are arguably more challenging to treat, and this may lead to even worse attitudes by treaters. For example, problematic substance use in the setting of mood lability, impulsivity, or affective instability can exacerbate substance use, while also making it more challenging for the clinician to treat. In a study that compared attitudes of addiction and community psychiatrists, both groups had worse attitudes toward patients with multiple diagnoses (Avery et al., 2013). 

            </p>
            <p>
              In the most recent National Survey on Drug Use and Health by SAMHSA, approximately half of adults aged 18 or older in 2020 with a co-occurring SUD and an acute mental illness in the past year received either substance use treatment at a specialty facility or services in the past year (50.5%), but only 5.7% received both services. Furthermore, approximately two-thirds of adults aged 18 or older with mental health occurring SUD and severe mental illness in the past year received either substance use treatment at a specialty facility or mental services in the past year (66.4%), but only 9.3% received both services. (SAMHSA, 2021).

            </p>
            </p>
            <h4 class="fw-bolder" id="list-item-1" style="color: #E7751D">Diagnosing a Substance Use Disorder</h4>
            <p>According to The Diagnostic and Statistical Manual of Mental Disorders (DSM–5), a substance
                use disorder is a disease marked by a set of symptoms that include craving, tolerance,
                withdrawal, lack of control, and negative effects on personal and professional responsibilities.
                The DSM categorizes the disease by severity (mild, moderate, and severe) depending on the
                number of symptoms met. Individuals must meet at least two of eleven criteria to be diagnosed
                with a drug use disorder; these include the following:

                <table class="table table-borderless">
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Taking the substance in larger amounts or for longer than
                            you're meant to.</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Wanting to cut down or stop using the substance but not
                            managing to.</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Spending a lot of time getting, using, or recovering from use
                            of the substance.</td>
                      </tr>
                      <tr>
                        <th scope="row">4</th>
                        <td>Cravings and urges to use the substance
                            </td>
                      </tr>
                      <tr>
                        <th scope="row">5</th>
                        <td>Not managing to do what you should at work, home, or
                            school because of substance use.</td>
                      </tr>
                      <tr>
                        <th scope="row">6</th>
                        <td>Continuing to use, even when it causes problems in
                            relationships.</td>
                      </tr>
                      <tr>
                        <th scope="row">7</th>
                        <td>Giving up important social, occupational, or recreational
                            activities because of substance use.
                            </td>
                      </tr>
                      <tr>
                        <th scope="row">8</th>
                        <td>Using substances again and again, even when it puts you in
                            danger</td>
                      </tr>
                      <tr>
                        <th scope="row">9</th>
                        <td>Continuing to use, even when you know you have a physical
                            or psychological problem that could have been caused or
                            made worse by the substance.</td>
                      </tr>
                      <tr>
                        <th scope="row">10</th>
                        <td>Developing tolerance: needing more of the substance to get
                            the effect you want.</td>
                      </tr>
                      <tr>
                        <th scope="row">11</th>
                        <td>Development of withdrawal symptoms, which can be relieved
                            by taking more of the substance.</td>
                      </tr>
                    </tbody>
                  </table>
            </p>
            <h4 class="fw-bolder" id="list-item-2" style="color: #E7751D">Factors that Mediate Risk and Recovery</h4>
            <p>
                Recovery is marked by periods of remission and relapse. There is no simple cure for treatment.
                The disease is, however, treatable with continued efforts to manage symptoms, reduce the
                likelihood of relapse, and harm reduction. Ideal treatment includes a combination of
                psychosocial supports and medication management that can help people achieve sobriety.
                </p>

                <p style="color: #E7751D"><strong>
                Adverse Childhood Events (ACE): Increases Risk</strong></p>

                <p>
                There are three main types of adverse childhood experiences that can predispose people to
                develop negative outcomes later in life:

                <table class="table table-borderless">
                    <tbody>
                      <tr>
                        <th scope="row">Abuse</th>
                        <td>emotional, physical, sexual abuse</td>
                      </tr>
                      <tr>
                        <th scope="row">Neglect</th>
                        <td>emotional and physical neglect</td>
                      </tr>
                      <tr>
                        <th scope="row">Instability in the Household</th>
                        <td>having a household member with a mental illness,
                            parental separation or divorce, having family members using drugs, having an
                            incarcerated family member</td>
                      </tr>
                    </tbody>
                  </table>
                </p>

                <p style="color: #E7751D"><strong>
                Social isolation: Increases Risk</strong>
                </p>

                <p>
                Isolation might make patients believe that they are destined to fail and never recover, or that
                they do not deserve to recover. Loneliness can induce feelings of worthlessness, depression, or
                anger that can motivate an individual to use substances in order to avoid such unpleasant
                feelings.</p>

                <p style="color: #E7751D"><strong>
                Environmental Triggers: Increases Risk</strong></p>

                <p>
                Triggers include any exposure to visual cues, sounds, sights, smells, or emotional states that
                create intense cravings in those who have been abstinent from drugs. This might include prior
                people who were associated with the patient's drug use, locations in which the patient would
                use, or any behaviors that are associated with the drug. Repeated exposure leads to increased
                cravings which can hinder an individual's ability to maintain their recovery.</p>

                <p style="color: #E7751D"><strong>
                Treatment Retention: Promotes Recovery</strong></p>

                <p>
                Once in treatment, a significant challenge becomes how to keep people in treatment until
                completion. Poor treatment retention has been a longstanding problem that interferes with
                treatment success. In the report from last year the Substance Abuse and Mental Health
                Services Administration (SAMHSA) found that almost 60% of clients leave formal substance use
                treatment prior to completion, regardless of the treatment setting or the type of substance used.
                This can leave the individual vulnerable to triggers and little guidance regarding how they can
                best support themselves.</p>

                <p style="color: #E7751D"><strong>
                Continuity of Care Following Hospitalizations or Detox: Promotes Recovery</strong></p>

                <p>
                A continued problem for providers is that many patients who complete detox do not follow up
                with appropriate aftercare resources. This is a recipe for relapse and poor outcomes. 
                Research shows that individuals who interact with peers while hospitalized for detox also
                were more likely to follow up with professional SUD aftercare, suggesting that peer interventions
                in structured inpatient settings may translate to better engagement with outpatient care.</p>

                <p style="color: #E7751D"><strong>
                Use of Coping Strategies: Promotes Recovery</strong></p>

                <p>
                For an individual to deal with the challenges brought forward during their recovery, they must be
                open to learning coping strategies that can best support their emotions, thoughts, and behaviors
                related to their use, their relationships, and their professional pursuits. This involves learning the
                relationship between their self-states and their use – what situations might drive them to drink?
                what emotions precipitate using opioids? Increased self-awareness in this regard can be
                achieved through psychoeducational means and through therapeutic-based modalities, such as
                cognitive-behavioral therapy. 
                
            </p>
            <h4 class="fw-bolder" id="list-item-3" style="color: #E7751D">Diversity of Patients Affected By Addiction</h4>
            <p>According to the Substance Abuse and Mental Health Services Administration (SAMHSA) in a
                2020 report, 40.3 million people aged 12 or older (or 14.5%) had a SUD in the past year,
                including: 28.3 million with alcohol use disorder, 18.4 million with an illicit drug use disorder, and 
                6.5 million with both alcohol use disorder and an illicit drug use disorder.
            </p>
            <p>Of the 40.3 million people with a SUD: 6.5 percent (or 2.6 million people) received any substance use treatment in the past
                year, 1.0 percent (or 2.7 million people) received substance use treatment at a specialty
                facility in the past year, and of those who received substance use treatment in the past year, 58.0 percent (or
                2.2 million people) received virtual (i.e. telehealth) services </p>
            <p>According to SAMHSA's National Survey of Drug Use and Health 2018, there was the following
                breakdown of ethnic and racial backgrounds who indicated they had a substance use disorder:

                <table class="table table-borderless">
                    <tbody>
                      <tr>
                        <th scope="row" style="color: #E7751D">White</th>
                        <td>7.7%</td>
                      </tr>
                      <tr>
                        <th scope="row" style="color: #E7751D">Hispanic of Latino</th>
                        <td>7.1%</td>
                      </tr>
                      <tr>
                        <th scope="row" style="color: #E7751D">Black or African American</th>
                        <td>6.9%</td>
                      </tr>
                      <tr>
                        <th scope="row" style="color: #E7751D">Asian American</th>
                        <td>4.8%
                            </td>
                      </tr>
                      <tr>
                        <th scope="row" style="color: #E7751D">American Indian or Alaskan Native</th>
                        <td>10.1%</td>
                      </tr>
                      <tr>
                        <th scope="row" style="color: #E7751D">Native Hawaiian or Other Pacific Islander</th>
                        <td>9.3%</td>
                      </tr>
                    </tbody>
                  </table>
            </p>


            <h4 class="fw-bolder" id="list-item-4" style="color: #E7751D">LGBTQ+ and Black Communities</h4>
            <p>Minority populations, such as those within the LGBTQ+ and Black communities, face a higher
                risk for SUDs due to poorer access and availability to necessary care, resulting from structural
                inequalities in the United States.
                The gender/sexuality or racial discrimination they face at baseline is compounded when they
                present to the healthcare system with a SUD (15). This is
                especially concerning when physicians, who reggularly interact with such patients, hold implicit
                biases that negatively affect the patient's care. 
            </p>
            <p>Strikingly, one in four individuals who identify as LGBTQ+ report experiencing discrimination by
                their healthcare provider in 2016. Furthermore, it is estimated that 20-30% of
                LGBTQ+ individuals have a SUD, compared with 9% in the general population. The
                combination of these two statistics reinforces that this area must be addressed if outcomes are
                to be improved. The effects of racial bias in healthcare are also well-documented. A recent
                study by Penner et al. (2016) found that implicit bias against Black patients resulted in shorter
                conversation length, poor interpersonal relations, and diminished patient recall of appointment
                content (15). Unsurprisingly, racial biases lead to increased anxiety between two
                individuals, which disrupts trust within the therapeutic relationship and leads to worse outcomes. 
                Like those who identify as LGTBQ+,
                those within the Black community face some of the worst discrimination when presenting with a
                SUD (21; 22; 23).</p>
        
            <h4 class="fw-bolder" id="list-item-5" style="color: #E7751D">Cultural Competence in Clinical Care</h4>
            <p>Depending on the background of the patient, there might be differences in faith, family,
            language, gender norms, and expectations of self and others in society. Cultural competence is
            the ability of a clinical team to provide care to patients who have diverse beliefs, values, needs,
            and behaviors. It enables patients to feel validated, supported, comforted, and trusting of the
            medical care they receive. It requires patience, active listening, clarification, and willingness to
            learn on the part of the clinician. Treatment teams can improve their cultural competency by
            increasing the diversity of their staff members and creating individualized treatment plans for
            their patients. 
            </p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-6">
          <button class="btn btn-dark" type="button" onclick="history.back()">Back</button>
        </div>
        <div class="col-6 text-end">
          <a class="nav-link" href="home-references.html">
          <button class="btn btn-dark" type="button">References</button>
          </a>
        </div>
      </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>

</script>


{% endblock javascripts %}