{% extends "layouts/base.html" %}

{% block title %} References {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

  <div class="body flex-grow-1 px-3" >
    <div class="container-lg">
        <div class="card mb-4">
            <div class="card-body">
                <h4 class="card-title text-center" style="color: #E7751D"><strong>References</strong></h4>

                <!-- <p class="card-text"> -->
                  <!-- <table class="table table-borderless">
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>
                          Avery, J., Dixon, L., Adler, D., Oslin, D., Hackman, A., First, M., ... &amp; Siris, S. (2013).
Psychiatrists’ attitudes toward individuals with substance use disorders and serious
mental illness. Journal of Dual Diagnosis, 9(4), 322-326.
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>
                          Avery, J., Zerbo, E., &amp; Ross, S. (2016). Improving psychiatrists’ attitudes towards
individuals with psychotic disorders and co-occurring substance use disorders.
Academic Psychiatry, 40(3), 520-522.
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>
                          Avery, J., Han, B. H., Zerbo, E., Wu, G., Mauer, E., Avery, J., ... &amp; Penzner, J. B. (2017).
Changes in psychiatry residents’ attitudes towards individuals with substance use
disorders over the course of residency training. The American journal on addictions,
26(1), 75-79.
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">4</th>
                        <td>
                          Avery, J., Knoepflmacher, D., Mauer, E., Kast, K. A., Greiner, M., Avery, J., &amp; Penzner,
J. B. (2019). Improvement in residents’ attitudes toward individuals with substance use
disorders following an online training module on stigma. HSS Journal®, 15(1), 31-36.
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">5</th>
                        <td>
                          Volkow, N D, and R D Baler. “Addiction science: Uncovering neurobiological complexity.”
Neuropharmacology vol. 76 Pt B,0 0 (2014): 235-49.
doi:10.1016/j.neuropharm.2013.05.007
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">6</th>
                        <td>
                          Capurso, N. A., &amp; Shorter, D. I. (2017). Changing attitudes in graduate medical
education: A commentary on Attitudes towards Substance Use and Schizophrenia by
Avery et al. The American journal on addictions, 26(1), 83-86.
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">7</th>
                        <td>
                          Van Boekel, L. C., Brouwers, E. P., Van Weeghel, J., &amp; Garretsen, H. F. (2013). Stigma
among health professionals towards patients with substance use disorders and its
consequences for healthcare delivery: systematic review. Drug and alcohol dependence,
131(1-2), 23-35.
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">8</th>
                        <td>
                          Ballon, B. C., &amp; Skinner, W. (2008). “Attitude is a little thing that makes a big difference”:
reflection techniques for addiction psychiatry training. Academic Psychiatry, 32(3), 218-
224.
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">9</th>
                        <td>
                          Jani, B. D., Blane, D. N., &amp; Mercer, S. W. (2012). The role of empathy in therapy and the
physician-patient relationship. Complementary Medicine Research, 19(5), 252-257.
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">10</th>
                        <td>
                          Patel, S., Pelletier-Bui, A., Smith, S., Roberts, M. B., Kilgannon, H., Trzeciak, S., &amp;
Roberts, B. W. (2019). Curricula for empathy and compassion training in medical
education: A systematic review. PloS one, 14(8), e0221412.
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">11</th>
                        <td>
                          Neumann, M., Edelhäuser, F., Tauschel, D., Fischer, M. R., Wirtz, M., Woopen, C., ... &amp;
Scheffer, C. (2011). Empathy decline and its reasons: a systematic review of studies
with medical students and residents. Academic medicine, 86(8), 996-1009.
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">12</th>
                        <td>
                          Selmeczy, D., &amp; Dobbins, I. G. (2013). Metacognitive awareness and adaptive
recognition biases. Journal of Experimental Psychology: Learning, Memory, and
Cognition, 39(3), 678.
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">13</th>
                        <td>
                          National Research Council. (2000). How people learn: Brain, mind, experience, and
school: Expanded edition. National Academies Press.
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">14</th>
                        <td>
                          Williams, R. L., Vasquez, C. E., Getrich, C. M., Kano, M., Boursaw, B., Krabbenhoft, C.,
&amp; Sussman, A. L. (2018). Racial/gender biases in student clinical decision-making: a
mixed-method study of medical school attributes associated with lower incidence of
biases. Journal of general internal medicine, 33(12), 2056-2064.
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">15</th>
                        <td>
                          Avery, J. J., Starck, J., Zhong, Y., Avery, J. D., &amp; Cooper, J. (2020). Is your own team
against you? Implicit bias and interpersonal regard in criminal defense. The Journal of
social psychology, 1-17.
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">16</th>
                        <td>
                          T. Bickmore and T. Giorgino, “Health dialog systems for patients and consumers,”
Journal of biomedical informatics, vol. 39, no. 5, pp. 556–571, 2006.
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">17</th>
                        <td>
                          2020 facts: Enrollment, graduates, AND MD-PHD DATA. (2020). Retrieved February 15,
2021, from https://www.aamc.org/data-reports/students-residents/interactive-data/2020-
facts-enrollment-graduates-and-md-phd-data
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">18</th>
                        <td>
                          Tarnowski KJ, Simonian SJ. (1992). Assessing treatment acceptance: The abbreviated
acceptability rating profile. Journal of behavior therapy and experimental
psychiatry.23(2):101-106.
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">19</th>
                        <td>
                          Christison GW, Haviland MG, Riggs ML. The medical condition regard scale: Measuring
reactions to diagnoses. Acad Med. 2002; 77:257–262.
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">20</th>
                        <td>
                          Wood, E., Samet, J. H., &amp; Volkow, N. D. (2013). Physician education in addiction
medicine. Jama, 310(16), 1673-1674
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">21</th>
                        <td>
                          Department of Health and Human Services, United States (HHS). National partnership
for action to end health disparities: Offices of Minority Health. Washington, DC, 2011
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">22</th>
                        <td>
                          Hardeman, R. R., Medina, E. M., &amp; Kozhimannil, K. B. (2016). Structural racism and
supporting black lives—the role of health professionals. New England Journal of
Medicine, 375(22), 2113-2115.
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">23</th>
                        <td>
                          King CJ, Redwood Y. The Health Care Institution, Population Health and Black Lives.
Journal of the National Medical Association, May 2016.
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">24</th>
                        <td>
                          Bays, A. M., Engelberg, R. A., Back, A. L., Ford, D. W., Downey, L., Shannon, S. E., ... &amp;
O&#39;Connor, K. (2014). Interprofessional communication skills training for serious illness:
evaluation of a small- group, simulated patient intervention. Journal of palliative
medicine, 17(2), 159-166.
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">25</th>
                        <td>
                          Bonvicini, K. A., Perlin, M. J., Bylund, C. L., Carroll, G., Rouse, R. A., &amp; Goldstein, M. G.
(2009). Impact of communication training on physician expression of empathy in patient
encounters. Patient education and counseling, 75(1), 3-10.
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">26</th>
                        <td>
                          Jani, B. D., Blane, D. N., &amp; Mercer, S. W. (2012). The role of empathy in therapy and the
physician-patient relationship. Complementary Medicine Research, 19(5), 252-257.
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">27</th>
                        <td>
                          Anderson DJ (1992) The hidden curriculum. Am J Roent 159:21-2.
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">28</th>
                        <td>
                          Avery J, Barnhill J (2017) Co-occurring Mental Illness and Substance Use Disorders: A
Guide to Diagnosis and Treatment. American Psychiatric Publishing, Arlington, VA.
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">29</th>
                        <td>
                          Avery J, Dixon L, Adler D, et al. (2013) Psychiatrists’ Attitudes Toward Individuals With
Substance Use Disorders and Serious Mental Illness. J Dual Diagn, 9(4):322-326.
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">30</th>
                        <td>
                          Avery J, Han BH, Zerbo E, et al. (2017) Changes in psychiatry residents’ attitudes
towards individuals with substance use disorders over the course of residency training.
Am J Addict26(1):75-79.
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">31</th>
                        <td>
                          Avery J, Knoepflmacher D, Mauer E, et al. (2018) Improvement in Residents’ attitudes
toward individuals with substance use disorders following an online training module on
Stigma. HSS Journal 10.1007/s1420-018-9643-3
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">32</th>
                        <td>
                          Avery J, Zerbo E, Ross S (2016) Improving psychiatrists’ attitudes towards individuals
with psychotic disorders and co-occurring substance use disorders. Acad
Psychiatry40(3):520-522.
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">33</th>
                        <td>
                          Avery J, Zerbo E (2015) Improving Psychiatry Residents’ Attitudes Toward Individuals
Diagnosed with Substance Use Disorders.Harv Rev Psychiatry23(4):296-300.
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">34</th>
                        <td>
                          Ballon BC, Skinner W (2008) “Attitude is a Little Thing That Makes a Big Difference”:
Reflection Techniques for Addiction Psychiatry Training. Acad Psychiatry32(3):218-224.
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">35</th>
                        <td>
                          Buchsbaum DG, Buchanan RG, Poses RM, et al. (1992) Physician detection of drinking
problems in patients attending a general medicine practice.  J Gen Intern Med 7:517-
521.
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">36</th>
                        <td>
                          Capurso NA, Shorter DI (2017) Changing attitudes in graduate medical education: A
commentary on Attitudes towards Substance Use and Schizophrenia by Avery et al.Am
J Addict26(1):83-86.
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">37</th>
                        <td>
                          Center for Behavioral Health Statistics and Quality (2016) Key substance use and
mental health indicators in the United States: Results from the 2015 national survey on
drug use and health. NoSMA 16-4984, NSDUH Ser H-517(1):877-726.
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">38</th>
                        <td>
                          D’Onofrio GD, Nadel E, Degutis L, et al. (2002) Improving emergency medicine
residents’ approach to patients with alcohol problems: a controlled educational trial.
Annals of Emergency Medicine 40(1): 50-62.
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">39</th>
                        <td>
                          Friedman PD, McCullough D, Saitz R (2001) Screening and intervention for illicit drug
abuse:  a national survey of primary care physicians and psychiatrists. Arch Intern Med
161:248-251.
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">40</th>
                        <td>
                          Geller G, Levine DM, Mamon JA, et al. (1989) Knowledge, attitudes, and reported
practices of medical students and house staff regarding the diagnosis and treatment of
alcoholism.  JAMA 262(21): 3115-3120.
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">41</th>
                        <td>
                          Gilchrist G, Moskalewicz J, Slezakova S, et al. (2011) Staff regard towards working with
substance users: a European multi-centre study. Addiction 106:1114-1125.
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">42</th>
                        <td>
                          Gopalan R, Santora P, Stokes E et al. (1992) Evaluation of a model curriculum on
substance abuse at the Johns Hopkins University School of Medicine.  Acad Med
67(4):260-266.
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">43</th>
                        <td>
                          Gryczynski J, Schwartz RP, O’Grady KE, et al. (2016) Understanding Patterns of High-
Cost Health Care Use Across Different Substance User Groups.  Health Aff (Millwood)
35(1):12-9.
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">44</th>
                        <td>
                          Hafferty FW (1998) Beyond curriculum reform: confronting medicine&#39;s hidden curriculum.
Academic Medicine 73(4): 403-7.
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">45</th>
                        <td>
                          Humphreys K (2017) Avoiding globalisation of the prescription opioid epidemic.  Lancet
390:437-439.
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">46</th>
                        <td>
                          Ianucci R, Sanders K, Greenfield S (2009) A 4-year curriculum on substance use
disorders for psychiatry residents.  Academic Psychiatry 33(1):60-66.
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">47</th>
                        <td>
                          Koob GF, Vokow ND (2010) Neurocircuitry of Addiction.  Neuropsychopharmacology
35:217-238.
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">48</th>
                        <td>
                          Lindberg M, Vergara C, Wild-Wesley, et al. (2006) Physicians-in-training attitudes toward
caring for and working with patients with alcohol and drug abuse diagnoses.  Southern
Medical Journal 99(1): 28-35.
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">49</th>
                        <td>
                          Maher KH, Nereberg L, Bower KJ (2001) Modifying residents’ professional attitudes
about substance abuse treatment and training.  The American Journal on Addictions
10(1): 40-45.
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">50</th>
                        <td>
                          Miller NS, Sheppard LM, Colenda CC, et al. (2001) Why physicians are unprepared to
treat patients who have alcohol- and drug-related disorders. Acad Med 76:410-418.
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">51</th>
                        <td>
                          Polydorou S, Gunderson EW, Levin FR (2008) Training physicians to treat substance
use disorders.  Curr Psychiatry Rep 10(5):399-404.
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">52</th>
                        <td>
                          Renner JA, Maher KH, Levinson M, et al. (2009) What do psychiatric residents think of
addiction psychiatry as a career?  Academic Psychiatry 33:139-142.
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">53</th>
                        <td>
                          Roberts LW, Bandstra BS (2012).  Addressing stigma to strengthen psychiatric
education.  Academic Psychiatry 36: 347-350.
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">54</th>
                        <td>
                          Van Boekel LC, Brouwers EPM, Van Weeghel J, et al. (2013) Stigma among health
professionals towards patients with substance use disorders and its consequences for
healthcare delivery: Systematic review. Drug Alcohol Depend131(1-3):23-35.
                        </td>
                      </tr>
                    </tbody>
                  </table> -->
                <!-- </p> -->
                <p> Das, Tanmoy Lala; Appel, Giselle; Avery, Jonathan; ",Naloxone Should Be As Ubiquitous As Tylenol, https://slate.com/technology/2020/11/naloxone-first-aid-kit-opioid-crisis.html, (Links to an external site.) 2020.
                </p><p>
                 Appel, G., Farmer, B., Avery, J., (2021). Fentanyl Test Strips Empower People And Save Lives—So Why Aren’t They More Widespread? Health Affairs https://www.healthaffairs.org/do/10.1377/forefront.20210601.974263 
                </p><p>
                Avery, J., Dixon, L., Adler, D., Oslin, D., Hackman, A., First, M., ... & Siris, S. (2013). Psychiatrists’ attitudes toward individuals with substance use disorders and serious mental illness. Journal of Dual Diagnosis, 9(4), 322-326.  
                 </p><p>
                Avery, J., Zerbo, E., & Ross, S. (2016). Improving psychiatrists’ attitudes towards individuals with psychotic disorders and co-occurring substance use disorders. Academic Psychiatry, 40(3), 520-522.  
                 </p><p>
                Avery, J., Han, B. H., Zerbo, E., Wu, G., Mauer, E., Avery, J., ... & Penzner, J. B. (2017). Changes in psychiatry residents’ attitudes towards individuals with substance use disorders over the course of residency training. The American journal on addictions, 26(1), 75-79.  
                </p><p>
                Avery, J., Knoepflmacher, D., Mauer, E., Kast, K. A., Greiner, M., Avery, J., & Penzner, J. B. (2019). Improvement in residents’ attitudes toward individuals with substance use disorders following an online training module on stigma. HSS Journal®, 15(1), 31-36.  
                 </p><p>
                Volkow, N D, and R D Baler. (2013). “Addiction science: Uncovering neurobiological complexity.” Neuropharmacology vol. 76 Pt B,0 0 (2014): 235-49. 
                doi:10.1016/j.neuropharm.2013.05.007 
                 </p><p>
                Capurso, N. A., & Shorter, D. I. (2017). Changing attitudes in graduate medical education: A commentary on Attitudes towards Substance Use and 
                Schizophrenia by Avery et al. The American journal on addictions, 26(1), 83-86.  
                 </p><p>
                Van Boekel, L. C., Brouwers, E. P., Van Weeghel, J., & Garretsen, H. F. (2013). Stigma among health professionals towards patients with substance use disorders and its consequences for healthcare delivery: systematic review. Drug and alcohol dependence, 131(1-2), 23-35. 
                 </p><p>
                Ballon, B. C., & Skinner, W. (2008). “Attitude is a little thing that makes a big difference”: reflection techniques for addiction psychiatry training. Academic Psychiatry, 32(3), 218-224.  
                 </p><p>
                Jani, B. D., Blane, D. N., & Mercer, S. W. (2012). The role of empathy in therapy and the physician-patient relationship. Complementary Medicine Research, 19(5), 252-257. 
                 </p><p>
                Patel, S., Pelletier-Bui, A., Smith, S., Roberts, M. B., Kilgannon, H., Trzeciak, S., & Roberts, B. W. (2019). Curricula for empathy and compassion training in medical education: A systematic review. PloS one, 14(8), e0221412. 
                 </p><p>
                Neumann, M., Edelhäuser, F., Tauschel, D., Fischer, M. R., Wirtz, M., Woopen, C., ... & Scheffer, C. (2011). Empathy decline and its reasons: a systematic review of studies with medical students and residents. Academic medicine, 86(8), 996-1009. 
                 </p><p>
                Selmeczy, D., & Dobbins, I. G. (2013). Metacognitive awareness and adaptive recognition biases. Journal of Experimental Psychology: Learning, Memory, and Cognition, 39(3), 678. 
                 </p><p>
                National Research Council. (2000). How people learn: Brain, mind, experience, and school: Expanded edition. National Academies Press. 
                 </p><p>
                Brown, S. L. (2009). Play: How it shapes the brain, opens the imagination, and invigorates the soul. Penguin. 
                 </p><p>
                Williams, R. L., Vasquez, C. E., Getrich, C. M., Kano, M., Boursaw, B., Krabbenhoft, C., & Sussman, A. L. (2018). Racial/gender biases in student clinical decision-making: a mixed-method study of medical school attributes associated with lower incidence of biases. Journal of general internal medicine, 33(12), 2056-2064. 
                 </p><p>
                Avery, J. J., Starck, J., Zhong, Y., Avery, J. D., & Cooper, J. (2020). Is your own team against you? Implicit bias and interpersonal regard in criminal defense. The Journal of social psychology, 1-17. 
                 </p><p>
                T. Bickmore and T. Giorgino, “Health dialog systems for patients and consumers,” Journal of biomedical informatics, vol. 39, no. 5, pp. 556–
                571, 2006.
                 </p><p>
                S. Provoost, H. M. Lau, J. Ruwaard, and H. Riper, “Embodied conversational agents in clinical psychology: a scoping review,” Journal of medical Internet research, vol. 19, no. 5, p. e151, 2017.
                 </p><p>
                D. DeVault, R. Artstein, G. Benn, T. Dey, E. Fast, A. Gainer, K. Georgila, J. Gratch, A. Hartholt, M. Lhommet, G. Lucas, S. Marsella, F. Morbini,A. Nazarian, S. Scherer, G. 19. Stratou, A. Suri, D. Traum, R. Wood,Y. Xu, A. Rizzo, and L.–P. Morency, “Simsensei kiosk: A virtual human interviewer for health care decision support,” in Proceedings of the 2014 International Conference on Autonomous Agents and Multiagent Systems, ser. AAMAS '14. Richland, SC: International Foundation for Autonomous Agents and Multiagent Systems, 2014, pp. 1061–1068. 
                 </p><p>
                L. Ring, T. Bickmore, and P. Pedrelli, “An affectively aware virtual therapist for depression counseling,” in ACM SIGCHI Conference on Human Factors in Computing Systems (CHI) workshop on Computing and Mental Health, 2016
                 </p><p>
                Hoque, M., Courgeon, M., Martin, J. C., Mutlu, B., & Picard, R. W. (2013). Mach: My automated conversation coach. In Proceedings of the 2013 ACM international joint conference on Pervasive and ubiquitous computing (pp. 697-706).
                 </p><p>
                2020 facts: Enrollment, graduates, AND MD-PHD DATA. (2020). Retrieved February 15, 2021, from https://www.aamc.org/data-reports/students-residents/interactive-data/2020-facts-enrollment-graduates-and-md-phd-data
                  </p><p>
                Tracy K, Wallace SP. Benefits of peer support groups in the treatment of addiction. Substance Abuse and Rehabilitation. 2016; 7: 143-154. 
                 </p><p>
                Humphreys, K. Circles of recovery: Self-help organizations for addictions. 2004. London: Cambridge University Press.
                </p><p>
                Tarnowski KJ, Simonian SJ. (1992). Assessing treatment acceptance: The abbreviated acceptability rating profile. Journal of behavior therapy and experimental psychiatry.23(2):101-106. 
                </p><p>
                Christison GW, Haviland MG, Riggs ML. The medical condition regard scale: Measuring reactions to diagnoses. Acad Med. 2002; 77:257–262. 
                </p><p>
                Wood, E., Samet, J. H., & Volkow, N. D. (2013). Physician education in addiction medicine. Jama, 310(16), 1673-1674 
                </p><p>
                Department of Health and Human Services, United States (HHS). National partnership for action to end health disparities: Offices of Minority Health. Washington, DC, 2011 
                </p><p>
                Hardeman, R. R., Medina, E. M., & Kozhimannil, K. B. (2016). Structural racism and supporting black lives—the role of health professionals. New England Journal of Medicine, 375(22), 2113-2115. 
                </p><p>
                King CJ, Redwood Y. The Health Care Institution, Population Health and Black Lives. Journal of the National Medical Association, May 2016. 
                </p><p>
                Bays, A. M., Engelberg, R. A., Back, A. L., Ford, D. W., Downey, L., Shannon, S. E., ... & O'Connor, K. (2014). Interprofessional communication skills training for serious illness: evaluation of a small- group, simulated patient intervention. Journal of palliative medicine, 17(2), 159-166. 
                </p><p>
                Bonvicini, K. A., Perlin, M. J., Bylund, C. L., Carroll, G., Rouse, R. A., & Goldstein, M. G. (2009). Impact of communication training on physician expression of empathy in patient encounters. Patient education and counseling, 75(1), 3-10. 
                </p><p>
                Jani, B. D., Blane, D. N., & Mercer, S. W. (2012). The role of empathy in therapy and the physician-patient relationship. Complementary Medicine Research, 19(5), 252-257.
                </p><p>
                Kron, F. W., Gjerde, C. L., Sen, A., & Fetters, M. D. (2010). Medical student attitudes toward video games and related new media technologies in medical education. BMC medical education, 10(1), 50 
                </p><p>
                Alexander, M. (2010). The new Jim Crow: Mass incarceration in the age of colorblindness . The New Press.
                </p><p>
                Asendorpf, J. B. , Banse, R. , & Mucke, D. (2002). Double dissociation between implicit and explicit personality self-concept: The case of shy behavior. Journal of Personality & Social Psychology, 83(2), 380–393.
                </p><p>
                Avery, J. J., Starck, J., Zhong, Y., Avery, J. D., & Cooper, J. (2020). Is your own team against you? Implicit bias and interpersonal regard in criminal defense. The Journal of social psychology, 1-17.
                </p><p>
                Avery, J., Dixon, L., Adler, D., Oslin, D., Hackman, A., First, M., ... & Siris, S. (2013). Psychiatrists’ attitudes toward individuals with substance use disorders and serious mental illness. Journal of Dual Diagnosis, 9(4), 322-326.
                </p><p>
                Avery, J., Zerbo, E., & Ross, S. (2016). Improving psychiatrists’ attitudes towards individuals with psychotic disorders and co-occurring substance use disorders. Academic Psychiatry, 40(3), 520-522.
                </p><p>
                Avery, J., Knoepflmacher, D., Mauer, E., Kast, K. A., Greiner, M., Avery, J., & Penzner, J. B. (2019). Improvement in residents’ attitudes toward individuals with substance use disorders following an online training module on stigma. HSS Journal®, 15(1), 31-36.
                </p><p>
                Avery, J., Han, B. H., Zerbo, E., Wu, G., Mauer, E., Avery, J., ... & Penzner, J. B. (2017). Changes in psychiatry residents’ attitudes towards individuals with substance use disorders over the course of residency training. The American journal on addictions, 26(1), 75-79.
                </p><p>
                Ballon, B. C., & Skinner, W. (2008). “Attitude is a little thing that makes a big difference”: reflection techniques for addiction psychiatry training. Academic Psychiatry, 32(3), 218-224.
                </p><p>
                Batson, C. D., Polycarpou, M. P., Harmon-Jones, E., Imhoff, H. J., Mitchener, E. C., Bednar, L. L., ... & Highberger, L. (1997). Empathy and attitudes: Can feeling for a member of a stigmatized group improve feelings toward the group?. Journal of personality and social psychology, 72(1), 105.
                </p><p>
                Batson, C. D., Chang, J., Orr, R., & Rowland, J. (2002). Empathy, attitudes, and action: Can feeling for a member of a stigmatized group motivate one to help the group?. Personality and Social Psychology Bulletin, 28(12), 1656-1666.
                </p><p>
                Batson, C. D., Turk, C. L., Shaw, L. L., & Klein, T. R. (1995). Information function of empathic emotion: Learning that we value the other's welfare. Journal of Personality and Social Psychology, 68, 1042- 1054
                </p><p>
                Bays, A. M., Engelberg, R. A., Back, A. L., Ford, D. W., Downey, L., Shannon, S. E., ... & O'Connor, K. (2014). Interprofessional communication skills training for serious illness: evaluation of a small-group, simulated patient intervention. Journal of palliative medicine, 17(2), 159-166.
                </p><p>
                Bellini, L. M., & Shea, J. A. (2005). Mood change and empathy decline persist during three years of internal medicine training. Academic Medicine, 80(2), 164-167.
                </p><p>
                Bonvicini, K. A., Perlin, M. J., Bylund, C. L., Carroll, G., Rouse, R. A., & Goldstein, M. G. (2009). Impact of communication training on physician expression of empathy in patient encounters. Patient education and counseling, 75(1), 3-10.
                </p><p>
                Broockman, D., & Kalla, J. (2016). Durably reducing transphobia: A field experiment on door-to-door canvassing. Science, 352(6282), 220-224.
                </p><p>
                Capurso, N. A., & Shorter, D. I. (2017). Changing attitudes in graduate medical education: A commentary on Attitudes towards Substance Use and Schizophrenia by Avery et al. The American journal on addictions, 26(1), 83-86.
                </p><p>
                Christison GW, Haviland MG, Riggs ML. The medical condition regard scale: Measuring reactions to diagnoses. Acad Med. 2002; 77:257–262. Department of Health and Human Services, United States (HHS). National partnership for action to end health disparities: Offices of Minority Health. Washington, DC, 2011.
                </p><p>
                Dovidio, J. F., Pagotto, L., & Hebl, M. R. (2011). Implicit attitudes and discrimination against people with physical disabilities. In R. L. Wiener & S. L. Willborn (Eds.), Disability and aging discrimination: Perspectives in law and psychology (p. 157–183). Springer Science + Business Media.
                </p><p>
                Fritz, C., Naylor, K., Watkins, Y., Britt, T., Hinton, L., Curry, G., ... & Kim, K. (2015). Are we missing the mark? The implementation of community based participatory education in cancer disparities curriculum development. Journal of racial and ethnic health disparities, 2(2), 237-243.
                </p><p>
                Hardeman, R. R., Medina, E. M., & Kozhimannil, K. B. (2016). Structural racism and supporting black lives—the role of health professionals. New England Journal of Medicine, 375(22), 2113-2115.
                </p><p>
                Hojat, M., DeSantis, J., Shannon, S. C., Mortensen, L. H., Speicher, M. R., Bragan, L., ... & Calabrese, L. H. (2018). The Jefferson Scale of Empathy: a nationwide study of measurement properties, underlying components, latent variable structure, and national norms in medical students. Advances in Health Sciences Education, 23(5), 899-920.
                </p><p>
                Hojat, M., Mangione, S., Nasca, T. J., Cohen, M. J., Gonnella, J. S., Erdmann, J. B., ... & Magee, M. (2001). The Jefferson Scale of Physician Empathy: development and preliminary psychometric data. Educational and psychological measurement, 61(2), 349-365.
                </p><p>
                Hojat, M., Mangione, S., Nasca, T. J., Rattner, S., Erdmann, J. B., Gonnella, J. S., & Magee, M. (2004). An empirical study of decline in empathy in medical school. Medical education, 38(9), 934-941.
                </p><p>
                Jacoby-Senghor, D. S. , Sinclair, S. , & Shelton, J. N. (2016). A lesson in bias: The relationship between implicit racial bias and performance in pedagogical contexts. Journal of Experimental Social Psychology , 63, 50–55.
                </p><p>
                Jani, B. D., Blane, D. N., & Mercer, S. W. (2012). The role of empathy in therapy and the physician-patient relationship. Complementary Medicine Research, 19(5), 252-257. King CJ, Redwood Y. The Health Care Institution, Population Health and Black Lives. Journal of the National Medical Association, May 2016.
                </p><p>
                Kron, F. W., Gjerde, C. L., Sen, A., & Fetters, M. D. (2010). Medical student attitudes toward video games and related new media technologies in medical education. BMC medical education, 10(1), 50.
                </p><p>
                Lawrence, C., Mhlaba, T., Stewart, K. A., Moletsane, R., Gaede, B., & Moshabela, M. (2018). The hidden curricula of medical education: a scoping review. Academic medicine: journal of the Association of American Medical Colleges, 93(4), 648.
                </p><p>
                LGBTQI. (2020). Retrieved December 11, 2020, from https://www.nami.org/Your Journey/Identity-and-Cultural-Dimensions/LGBTQI Mahood, S. C. (2011). Medical education: Beware the hidden curriculum. Canadian family physician, 57(9), 983-985.
                </p><p>
                McCabe, S. E., Bostwick, W. B., Hughes, T. L., West, B. T., & Boyd, C. J. (2010). The relationship between discrimination and substance use disorders among lesbian, gay, and bisexual adults in the United States. American journal of public health, 100(10), 1946-1952.
                </p><p>
                McGuire, T. G., & Miranda, J. (2008). New evidence regarding racial and ethnic disparities in mental health: Policy implications. Health Affairs, 27(2), 393-403. National Center for Health Statistics (US). Health, United States, 2015: With Special Feature on Racial and Ethnic Health Disparities. Hyattsville, MD: National Center for Health Statistics (US); 2016 May. Report No.: 2016-1232.
                </p><p>
                National Research Council. (2000). How people learn: Brain, mind, experience, and school: Expanded edition. National Academies Press.
                </p><p>
                Neumann, M., Edelhäuser, F., Tauschel, D., Fischer, M. R., Wirtz, M., Woopen, C., ... & Scheffer, C. (2011). Empathy decline and its reasons: a systematic review of studies with medical students and residents. Academic medicine, 86(8), 996-1009.
                </p><p>
                Otiniano Verissimo, A. D., Gee, G. C., Ford, C. L., & Iguchi, M. Y. (2014). Racial discrimination, gender discrimination, and substance abuse among Latina/os nationwide. Cultural Diversity and Ethnic Minority Psychology, 20(1), 43.
                </p><p>
                Pachankis, J. E. , Hatzenbuehler, M. L. , Wang, K. , Burton, C. L. , Crawford, F. W. , Phelan, J. C. , & Link, B. G. (2017). The burden of stigma on health and well-being: A taxonomy of concealment, course, disruptiveness, aesthetics, origin, and peril across 93 stigmas. Personality and Social Psychology Bulletin , 44(4), 451–474.
                </p><p>
                Patel, S., Pelletier-Bui, A., Smith, S., Roberts, M. B., Kilgannon, H., Trzeciak, S., & Roberts, B. W. (2019). Curricula for empathy and compassion training in medical education: A systematic review. PloS one, 14(8), e0221412.
                </p><p>
                Pollak, K. I., Alexander, S. C., Tulsky, J. A., Lyna, P., Coffman, C. J., Dolor, R. J., ... & Østbye, T. (2011). Physician empathy and listening: associations with patient satisfaction and autonomy. The Journal of the American Board of Family Medicine, 24(6), 665-672.
                </p><p>
                Selmeczy, D., & Dobbins, I. G. (2013). Metacognitive awareness and adaptive recognition biases. Journal of Experimental Psychology: Learning, Memory, and Cognition, 39(3), 678.
                </p><p>
                Van Boekel, L. C., Brouwers, E. P., Van Weeghel, J., & Garretsen, H. F. (2013). Stigma among health professionals towards patients with substance use disorders and its consequences for healthcare delivery: systematic review. Drug and alcohol dependence, 131(1-2), 23-35.
                </p><p>
                Williams, R. L., Vasquez, C. E., Getrich, C. M., Kano, M., Boursaw, B., Krabbenhoft, C., & Sussman, A. L. (2018). Racial/gender biases in student clinical decision-making: a mixed-method study of medical school attributes associated with lower incidence of biases. Journal of general internal medicine, 33(12), 2056-2064.
                </p><p>
                Wood, E., Samet, J. H., & Volkow, N. D. (2013). Physician education in addiction medicine. Jama, 310(16), 1673-1674.
                </p><p>
                Room R,  Rehm J,  Trotter RTI. Üstün TB,  Chatterji S,  Bickenbach JE, et al. Cross-cultural views on stigma, valuation, parity, and societal values towards disability, Disability and Culture: Universalism and Diversity, 2001SeattleHigrefe and Huber(pg. 247-91)
                </p><p>
                Nina C Christie, The role of social isolation in opioid addiction, Social Cognitive and Affective Neuroscience, Volume 16, Issue 7, July 2021, Pages 645–656, https://doi.org/10.1093/scan/nsab029
                </p><p>
                Blondell, R. D., Behrens, T., Smith, S. J., Greene, B. J., & Servoss, T. J. (2008). Peer support during inpatient detoxification and aftercare outcomes. Addictive Disorders & Their Treatment, 7(2), 77-86. 
                </p><p>
                Platt, L., Minozzi, S., Reed, J., Vickerman, P., Hagan, H., French, C., ... & Hickman, M. (2017). Needle syringe programmes and opioid substitution therapy for preventing hepatitis C transmission in people who inject drugs. Cochrane Database of Systematic Reviews, (9).
                </p><p>
                Volkow, N. D., & Boyle, M. (2018). Neuroscience of addiction: relevance to prevention and treatment. American Journal of Psychiatry, 175(8), 729-740.
                </p><p>
                Doe-Simkins, M., Quinn, E., Xuan, Z., Sorensen-Alawad, A., Hackman, H., Ozonoff, A., & Walley, A. Y. (2014). Overdose rescues by trained and untrained participants and change in opioid use among substance-using participants in overdose education and naloxone distribution programs: a retrospective cohort study. BMC Public Health, 14(1), 1-11.
                </p><p>
                Walley, A. Y., Xuan, Z., Hackman, H. H., Quinn, E., Doe-Simkins, M., Sorensen-Alawad, A., ... & Ozonoff, A. (2013). Opioid overdose rates and implementation of overdose education and nasal naloxone distribution in Massachusetts: interrupted time series analysis. Bmj, 346.
                </p><p>
                Seal, K. H., Thawley, R., Gee, L., Bamberger, J., Kral, A. H., Ciccarone, D., ... & Edlin, B. R. (2005). Naloxone distribution and cardiopulmonary resuscitation training for injection drug users to prevent heroin overdose death: a pilot intervention study. Journal of Urban Health, 82(2), 303-311.
                </p><p>
                Maxwell, S., Bigg, D., Stanczykiewicz, K., & Carlberg-Racich, S. (2006). Prescribing naloxone to actively injecting heroin users: a program to reduce heroin overdose deaths. Journal of addictive diseases, 25(3), 89-96.
                </p>                
            </div>
        </div>    
      <div class="row">
        <div class="col-6">
          <button class="btn btn-dark" type="button" onclick="history.back()">Back</button>
        </div>
      </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
