{% extends "layouts/base.html" %}

{% block title %} Landing {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    
    <link href="/static/assets/vendors/@coreui/chartjs/css/coreui-chartjs.css" rel="stylesheet">
    
{% endblock stylesheets %}

{% block content %}
<div class="body flex-grow-1 px-3">
  <div class="container-lg">
    <div class="row"> 
      <div class="column" style="width:50% ; float:left">
       <br>
       <br>
       <br>
       <br>
       <h1> How might your future patients experience you? </h1>
       <h6>Persons who inject drugs might face negative health outcomes due to stigma from the medical community, medical complications resulting from their use, and mutual mistrust with healthcare providers. Attempting to address these wrongs through compassionate and person-centered care is imperative for health justice, which we propose might be achieved through Medship – a greater understanding of our relationship with our patients. </h6>
       <a href="home-about.html" class="nav-link" style="text-align:center">
        <button type="button" class="btn btn-dark">Continue</button>
       </a>
      </div>
      <div class="column" style="flex:50%; float:right; text-align:center">
        <img src="/static/assets/img/stigma.jpeg" alt="Stigma vector" style="object-fit:contain" width="500" height="500">
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <!-- Plugins and scripts required by this view-->
  <script src="/static/assets/vendors/chart.js/js/chart.min.js"></script>
  <script src="/static/assets/vendors/@coreui/chartjs/js/coreui-chartjs.js"></script>
  <script src="/static/assets/vendors/@coreui/utils/js/coreui-utils.js"></script>
  <script src="/static/assets/js/main.js"></script>
  <script src="/static/assets/js/index.js"></script>

{% endblock javascripts %}
