{% extends "layouts/base.html" %}

{% block title %} Landing {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    
    <link href="/static/assets/vendors/@coreui/chartjs/css/coreui-chartjs.css" rel="stylesheet">
    .column {
      float: left;
    }
    
    .left {
      width: 25%;
    }
    
    .right {
      width: 75%;
    }
{% endblock stylesheets %}

{% block content %}
      <div class="body flex-grow-1 px-3">
        <div class="container-lg">
          <div class="card-body text-center">
            <div>
              <div class="row">
                <div class="column">
                  <div style="text-align: center;">
              <br><br><br><br><br>
              <h4 class="card-title text-center" style="color: #B31B1B"><strong>How might your future patients experience you?</strong>
              </h4>
                <a class="nav-link" href="home-base.html">
                  <button class="btn btn-dark"  type="button">Continue</button>
                  </div>
                </div>
                <div class="column">
                  <div style="text-align: center;">
                  <img src="/static/assets/img/stigma.jpeg" alt="Stigma vector" style=" object-fit: contain;">
                  </div>
                </div>
                </a>
              </p>
              </div>
            </div>
          </div>
        </div>
      </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <!-- Plugins and scripts required by this view-->
  <script src="/static/assets/vendors/chart.js/js/chart.min.js"></script>
  <script src="/static/assets/vendors/@coreui/chartjs/js/coreui-chartjs.js"></script>
  <script src="/static/assets/vendors/@coreui/utils/js/coreui-utils.js"></script>
  <script src="/static/assets/js/main.js"></script>
  <script src="/static/assets/js/index.js"></script>

{% endblock javascripts %}
