{% extends "layouts/base.html" %}

{% block title %} Landing {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    
    <link href="/static/assets/vendors/@coreui/chartjs/css/coreui-chartjs.css" rel="stylesheet">
    
{% endblock stylesheets %}

{% block content %}
<div class="body flex-grow-1 px-3">
  <div class="container-lg">
      <div class="column" style="width:70% ; float:left">
       <br>
       <br>
       <br>
       <br>
       <p class="font-monospace fs-1 fw-bolder"> Are we usually aware of our facial expressions? </p>
       <p class="card-text lh-lg fs-4">We often fail to notice how our face reflects our emotions. We also don’t realize how much our expressions influence others around us. Let’s examine this further.</p>
       <a href="quiz.html" class="nav-link" style="text-align:center">
        <button type="button" class="btn btn-dark">Start</button>
       </a>
      </div>
      <div class="column" style="width:30%; float:right; text-align:center">
        <img src="/static/assets/img/index.jpg" alt="Mirror vector" style="object-fit:scale down">
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <!-- Plugins and scripts required by this view-->
  <script src="/static/assets/vendors/chart.js/js/chart.min.js"></script>
  <script src="/static/assets/vendors/@coreui/chartjs/js/coreui-chartjs.js"></script>
  <script src="/static/assets/vendors/@coreui/utils/js/coreui-utils.js"></script>
  <script src="/static/assets/js/main.js"></script>
  <script src="/static/assets/js/index.js"></script>

{% endblock javascripts %}
