{% extends "layouts/base.html" %}

{% block title %} Expression Practice {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    
    <link href="/static/assets/vendors/@coreui/chartjs/css/coreui-chartjs.css" rel="stylesheet">

{% endblock stylesheets %}

{% block content %}
      <div class="body flex-grow-1 px-3">
        <div class="flex-container-lg">
          <div class="card mb-4">
            <div class="card-body">
                <h4 class="card-title" style="color: #E7751D"><strong>Expression Practice</strong></h4>
                <p class="card-text">
                  Clinicians tend to underestimate their own cognitive and affective states during these difficult patient presentations. Many clinicians identify with valorized medical ideals, such as saving lives and healing, which can be complicated by repeated difficult presentations of these patients. OUD, depending on its acuity, might challenge these ideals and a clinician's sense of feeling helpful to their patients. For the previous reasons discussed, senior clinicians often are the most jaded. After a career of such difficulties, their opinions about individuals with OUD are not just negative, they are solidified. It is indubitable that these opinions and perspectives of senior clinicians impact younger clinicians' views. This is called the “hidden curriculum” of medical training: the unspoken attitudes and small details that supervising physicians convey when engaging with patients.  
                <br>
                </p>
                <h6> 
                  <strong>Let's practice controlling your facial expressions when you interact with your patients! We've found that people commonly have less control and understanding of their expression than they think. 
                  So, we've designed <strong style="color: #E7751D">Expression Practice</strong>, a tool to help you to improve that. 
                  Choose an expression to practice below!</strong> </h6> 
                  <br>
                  <div class="row">
                    <div class = "col-sm">
                      <div class ="card">
                        <div class="card-body text-center">
                          <a href="karaoke-sad.html" class="btn btn-primary stretched-link"><p class="card-text">Compassionate expression</p></a>
                          <img src="/static/assets/img/compassionate.png" alt="Compassionate Emoji" class="center" style="object-fit: contain" width="130" height="130">
                        </div>
                      </div>
                    </div>
                    <div class = "col-sm">
                        <div class ="card">
                            <div class="card-body text-center">
                             <a href="karaoke-happy.html" class="btn btn-primary stretched-link"><p class="card-text">Welcoming expression</p></a>
                             <img src="/static/assets/img/welcoming.png" alt="Welcoming Emoji" class="center" style="object-fit: contain" width="130" height="130">
                            </div>
                        </div>
                    </div>
                  <div class = "col-sm">
                    <div class ="card">
                        <div class="card-body text-center">
                          <a href="karaoke-neutral.html" class="btn btn-primary stretched-link"><p class="card-text">Listening expression</p></a>
                          <img src="/static/assets/img/listening.png" alt="Listening Emoji" class="center" style="object-fit: contain" width="130" height="130">
                        </div>
                    </div>
                </div>
                  </div>
                </p>
              </div>
          </div>
          <br>
      <div class="row">
        <div class="col-6">
          <a class="nav-link" href="home-about.html">
          <button class="btn btn-dark" type="button" onclick="history.back()">Back</button>
          </a>
        </div>
        <div class="col-6 text-end">
          <a class="nav-link" href="training-landing.html">
          <button class="btn btn-dark" type="button">Continue</button>
          </a>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <!-- Plugins and scripts required by this view-->
  <script src="/static/assets/vendors/chart.js/js/chart.min.js"></script>
  <script src="/static/assets/vendors/@coreui/chartjs/js/coreui-chartjs.js"></script>
  <script src="/static/assets/vendors/@coreui/utils/js/coreui-utils.js"></script>
  <script src="/static/assets/js/main.js"></script>
  <script src="/static/assets/js/index.js"></script>

{% endblock javascripts %}
