{% extends "layouts/base.html" %}

{% block title %} Compassionate Expression {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<link href="/static/assets/vendors/@coreui/chartjs/css/coreui-chartjs.css" rel="stylesheet">

<link href="/static/assets/css/karaoke.css" rel="stylesheet">

{% endblock stylesheets %}

{% block content %}
<div class="body flex-grow-1 px-3">
  <div class="container-lg">
    <div class="card">
      <div class="card-body">
        <p class="font-monospace fs-4 fw-bolder" style="color: #B31B1B"> Expression Karaoke: Let's try making a
          compassionate facial expression </p>
        <div class="row">
          <div class="col">
            <div class="card" style="padding: 1px" id="canvas-parent">
              <canvas id="drawCanvas"></canvas>
              <video contrls id="videoElement" onloadeddata="startup()"></video>
              <canvas id="captureCanvas"></canvas>
            </div>
          </div>
          <div class="col" style="display: flex; justify-content: center; align-items: center;">
            <img src="/static/assets/img/compassionate.png" alt="Compassionate Emoji" style="object-fit: contain"
              width="500" height="500">
          </div>
        </div>
        <div class="start-stop text-center">
          <button class="btn btn-dark" type="button" id="startCamera" onclick="startCamera()">I'm ready!</button>
          <button class="btn btn-primary" type="button" id="stopCamera" onclick="stopCamera()">Nailed it</button>
        </div>
        <br>
        <p class="card-text fs-5"> Note: emotion recognition works the best when you position your face in the center of
          the frame, reduce background clutter, and keep bright lights out of frame.
          If a box identifies your face and expression, everything is working! If not, click <a
            href="mailto:aidana@mit.edu?subject=Medship is not recognizing my facial expression correctly:("
            target="_blank">here</a>, and leave a short description of your situation.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <a class="nav-link" href="karaoke-landing.html">
          <button class="btn btn-dark" type="button">Back</button>
        </a>
      </div>
      <div class="col-6 text-end">
        <a class="nav-link" href="karaoke-happy.html">
          <button class="btn btn-dark" type="button">Next</button>
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script type="text/javascript" src="https://download.affectiva.com/js/3.2/affdex.js"></script>

<script type="text/javascript" src="/static/assets/js/karaoke-compassionate.js"></script>


<!-- <script type="text/javascript" src="/static/assets/vendors/affdex/affdex.js"></script> -->

<script>

</script>

{% endblock javascripts %}