{% extends "layouts/base.html" %}

{% block title %} Expression Practice {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    
    <link href="/static/assets/vendors/@coreui/chartjs/css/coreui-chartjs.css" rel="stylesheet">

{% endblock stylesheets %}

{% block content %}
      <div class="body flex-grow-1 px-3">
        <div class="flex-container-lg">
          <div class="card mb-4">
            <div class="card-body">
              <p class="fs-2 fw-bolder"> Expression Karaoke </p>
                <p class="card-text fs-5">
                  Facial expressions can be tricky! Let’s practice some with this tool. It helps you see and improve your non-verbal skills, based on science, to connect with patients. 
                  <br>
                  We’re not giving you a formula. We understand that each patient situation is different.
                </p>
                  <br>
                  <div class="row">
                    <div class="col-sm d-flex">
                      <div class="card text-white bg-success mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                          <div class="col-md-4">
                          <br>
                            <img src="/static/assets/img/11.png" class="img-fluid rounded-start" alt="Compassionate Emoji">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <a href="karaoke-compassionate.html" class="stretched-link"><h4 style="color:#ffffff" align="left">Compassionate expression</h4></a>
                              <p class="card-text fw-light">A compassionate facial expression can make a patient feel understood, supported and valued.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm d-flex">
                      <div class="card text-white bg-success mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                          <div class="col-md-4">
                          <br>
                            <img src="/static/assets/img/22.png" class="img-fluid rounded-start" alt="Welcoming Emoji">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <a href="karaoke-welcoming.html" class="stretched-link"><h4 style="color:#ffffff" align="left">Welcoming expression</h4></a>
                              <p class="card-text fw-light">A welcoming facial expression can help establish rapport, trust and comfort with the patient.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm d-flex">
                      <div class="card text-white bg-success mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                          <div class="col-md-4">
                          <br>
                            <img src="/static/assets/img/33.png" class="img-fluid rounded-start" alt="Listening Emoji">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <a href="karaoke-listening.html" class="stretched-link"><h4 style="color:#ffffff" align="left">Listening expression</h4></a>
                              <p class="card-text fw-light">A neutral, listening facial expression can help the doctor maintain objectivity and respect for the patient.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </p>
              </div>
          </div>
          <br>
      <div class="row">
        <div class="col-6">
          <a class="nav-link" href="quiz.html">
          <button class="btn btn-dark" type="button" onclick="history.back()">Back</button>
          </a>
        </div>
        <div class="col-6 text-end">
          <a class="nav-link" href="training-landing.html">
          <button class="btn btn-dark" type="button">Continue</button>
          </a>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <!-- Plugins and scripts required by this view-->
  <script src="/static/assets/vendors/chart.js/js/chart.min.js"></script>
  <script src="/static/assets/vendors/@coreui/chartjs/js/coreui-chartjs.js"></script>
  <script src="/static/assets/vendors/@coreui/utils/js/coreui-utils.js"></script>
  <script src="/static/assets/js/main.js"></script>
  <script src="/static/assets/js/index.js"></script>

{% endblock javascripts %}
