{% extends "layouts/base.html" %}

{% block title %} Expression Practice {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    
    <link href="/static/assets/vendors/@coreui/chartjs/css/coreui-chartjs.css" rel="stylesheet">

{% endblock stylesheets %}

{% block content %}
      <div class="body flex-grow-1 px-3">
        <div class="flex-container-lg">
          <div class="card mb-4">
            <div class="card-body">
                <h4 class="card-title" style="color: #E7751D"><strong>Expression Practice</strong></h4>
                <p class="card-text">
                  We saw that recognizing facial expressions might be hard! Now let's try to practice some of them.
                  This tool is meant for expression practice so that you can reflect and see what works best for you. These are non-verbal guidelines, backed by scientific research, that are intended to build report with a patient.
                <br> <br>
                  We’re not trying to be formulaic. We don’t know the context that you’ll have with a patient, and we know that matters greatly. 
                <br>
                </p>
                  <br>
                  <div class="row">
                    <div class="col-sm">
                      <div class="card text-white bg-success mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                          <div class="col-md-4">
                          <br>
                            <img src="/static/assets/img/1.png" class="img-fluid rounded-start" alt="Compassionate Emoji">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <a href="karaoke-sad.html" class="stretched-link"><h4 style="color:#ffffff" align="left">Compassionate expression</h4></a>
                              <p class="card-text fw-light">A compassionate facial expression can make a patient feel understood, supported and valued.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm">
                      <div class="card text-white bg-success mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                          <div class="col-md-4">
                          <br>
                            <img src="/static/assets/img/2.png" class="img-fluid rounded-start" alt="Welcoming Emoji">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <a href="karaoke-happy.html" class="stretched-link"><h4 style="color:#ffffff" align="left">Welcoming expression</h4></a>
                              <p class="card-text fw-light">A welcoming facial expression can help establish rapport, trust and comfort with the patient.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm">
                      <div class="card text-white bg-success mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                          <div class="col-md-4">
                          <br>
                            <img src="/static/assets/img/2.png" class="img-fluid rounded-start" alt="Welcoming Emoji">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <a href="karaoke-neutral.html" class="stretched-link"><h4 style="color:#ffffff" align="left">Listening expression</h4></a>
                              <p class="card-text fw-light">A neutral, listening facial expression can help the doctor maintain objectivity, professionalism and respect for the patient.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </p>
              </div>
          </div>
          <br>
      <div class="row">
        <div class="col-6">
          <a class="nav-link" href="quiz.html">
          <button class="btn btn-dark" type="button" onclick="history.back()">Back</button>
          </a>
        </div>
        <div class="col-6 text-end">
          <a class="nav-link" href="training-landing.html">
          <button class="btn btn-dark" type="button">Continue</button>
          </a>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <!-- Plugins and scripts required by this view-->
  <script src="/static/assets/vendors/chart.js/js/chart.min.js"></script>
  <script src="/static/assets/vendors/@coreui/chartjs/js/coreui-chartjs.js"></script>
  <script src="/static/assets/vendors/@coreui/utils/js/coreui-utils.js"></script>
  <script src="/static/assets/js/main.js"></script>
  <script src="/static/assets/js/index.js"></script>

{% endblock javascripts %}
