{% extends "layouts/base.html" %}

{% block title %} Training {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    
    <link href="/static/assets/vendors/@coreui/chartjs/css/coreui-chartjs.css" rel="stylesheet">

{% endblock stylesheets %}

{% block content %}

  <div class="body flex-grow-1 px-3" >
    <div class="container-lg">
      <div class="card mb-4">
        <div class="card-body">
          <h4 class="card-title" style="color: #E7751D"><strong>Trauma-Informed Care</strong></h4>
          <p class="card-text">
            The majority of people who inject opioids have a history of trauma either inflicted by others (e.g.
            physical, psychological, sexual, or emotional abuse, neglect, war, poverty, racism) or self-inflicted (i.e.
            physical trauma secondary to repeated drug use). The medical sequelae (e.g. skin abscess, endocarditis,
            cellulitis) and trauma (e.g. overdose, withdrawal) associated with injection drug use lead many PWID to
            seek care in hospital.
            <br>
            Trauma-informed care (TIC) is an approach that clinicians might use in order to respectfully meet these
            patients where they are regarding their comfort, trust, and openness toward their healthcare
            experience. One study demonstrated improvements in medical students’ perceived knowledge and
            comfort in treating sexual assault survivors following completion of a TIC module. Another study found
            patients reported a more trusting partnership with physicians who underwent TIC training compared to
            physicians who did not.
            <br>
            <strong> TIC involves five core principles: patient empowerment, choice, collaboration, safety, and
            trustworthiness. </strong>
            </p>
                   <div class="body flex-grow-1 px-3">
                     <div class="container-lg">
                        <div class="row">
                          <div style="width:20% ; float:left" class="col-sm d-flex">
                            <div class="card">
                              <div class="card-body text-center">
                                <h5 class="card-title" style="color: #E7751D">Patient Empowerment</h5>
                                <p class="card-text">Using individuals' strengths to empower them in the development of their treatment.</p> <br>
                                <img src="/static/assets/img/empowerment.png" alt="Empowerment icon" style="object-fit:contain" width="100" height="100">
                                <a href="https://www.flaticon.com/free-icons/fist" title="fist icons"></a>
                              </div>
                            </div>
                          </div>
                          <div style="width:20% ; float:left" class="col-sm d-flex">
                            <div class="card">
                              <div class="card-body text-center">
                                <h5 class="card-title" style="color: #E7751D">Safety</h5>
                                <p class="card-text">Developing health care settings and activities that ensure patients’ physical and emotional safety.</p> <br> <br>
                                <img src="/static/assets/img/safety.png" alt="Safety icon" style="object-fit:contain" width="100" height="100">
                                <a href="https://www.flaticon.com/free-icons/safety" title="safety icons"></a>
                              </div>
                            </div>
                          </div>
                          <div style="width:20% ; float:left" class="col-sm d-flex">
                            <div class="card">
                              <div class="card-body text-center">
                                <h5 class="card-title" style="color: #E7751D">Patient Choice</h5>
                                <p class="card-text">Informing patients regarding treatment options so they can choose the options they prefer.</p> <br> <br>
                                <img src="/static/assets/img/choice.png" alt="Choice icon" style="object-fit:contain" width="100" height="100">
                                <a href="https://www.flaticon.com/free-icons/choice" title="choice icons"></a>
                              </div>
                            </div>
                          </div>
                          <div style="width:20% ; float:left" class="col-sm d-flex">
                            <div class="card">
                              <div class="card-body text-center">
                                <h5 class="card-title" style="color: #E7751D">Collaboration</h5>
                                <p class="card-text">Maximizing collaboration among health care staff, patients, and their families in organizational and treatment planning.</p> <br>
                                <img src="/static/assets/img/collaboration.png" alt="Collaboration icon" style="object-fit:contain" width="100" height="100">
                                <a href="https://www.flaticon.com/free-icons/collaboration" title="collaboration icons"></a>
                              </div>
                            </div>
                          </div>
                          <div style="width:20% ; float:right" class="col-sm d-flex">
                            <div class="card">
                              <div class="card-body text-center">
                                <h5 class="card-title" style="color: #E7751D">Trustworthiness</h5>
                                <p class="card-text">Creating clear expectations with patients about what proposed treatments entail, who will provide services, and how care will be provided.</p>
                                <img src="/static/assets/img/trustworthiness.png" alt="Trustworthiness icon" style="object-fit:contain" width="100" height="100">
                                <a href="https://www.flaticon.com/free-icons/trustworthy" title="trustworthy icons"></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <a class="nav-link" href="karaoke-landing.html">
          <button class="btn btn-dark" type="button" onclick="history.back()">Back</button>
          </a>
        </div>
        <div class="col-6 text-end">
          <a class="nav-link" href="cs1-landing.html">
          <button class="btn btn-dark" type="button">Continue</button>
          </a>
        </div>
      </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <!-- Plugins and scripts required by this view-->
  <script src="/static/assets/vendors/chart.js/js/chart.min.js"></script>
  <script src="/static/assets/vendors/@coreui/chartjs/js/coreui-chartjs.js"></script>
  <script src="/static/assets/vendors/@coreui/utils/js/coreui-utils.js"></script>
  <script src="/static/assets/js/main.js"></script>
  <script src="/static/assets/js/index.js"></script>

{% endblock javascripts %}
