{% extends "layouts/base.html" %}

{% block title %} Module 2 - Intro Neutral {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

  <div class="body flex-grow-1 px-3" >
    <div class="container-lg">
        <div class ="card-body text-center">
          <div class="start-stop">
            <button class="btn btn-dark" type="button" id="startRecord" onclick="startListener()">Start</button>
            <button class="btn btn-primary" type="button" id="stopRecord" onclick="stopVid(); stopListener()">Stop</button>
            <button class="btn btn-dark" type="button" id='drSuperButton' onclick="drSuper()" style="display: none" >Show Dr. Superstar</p>
            <button class="btn btn-primary" type="button" id="showReplay" onclick="showReplay()">Next</button>
          </div>
        </div>
        <div id="parents" class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col">
            <div id="streamParent" class ="card-body text-center">
              <video id="stream" style="width: 100%; height: 25vw; object-fit: cover;" autoplay="" muted=""></video>
            </div> 
          </div>
          <div class="col">
            <div id="vidParent" class ="card-body text-center">
              <iframe class="yt_player_iframe" controls=0 id="vid" src="https://www.youtube.com/embed/E0J7Dxw1fsE?enablejsapi=1&version=3&playerapiid=ytplayer" style="width: 100%; height: 25vw; object-fit: cover;" allowfullscreen="true" allowscriptaccess="always" frameborder="0">
              </iframe>
            </div>
          </div>
        </div>
        <div id="replayParent" class ="card-body text-center" style="display: none">
          <video id="replay" style="width: 90%; height: 32vw; object-fit: cover;" controls></video>
        </div> 
        <div id="drSuperParent" class ="card-body text-center" style="display: none">
          <iframe class="yt_player_iframe" controls=0 id="drSuperVid" src="https://www.youtube.com/embed/XqQM1-ZAXms?enablejsapi=1&version=3&playerapiid=ytplayer" style="width: 90%; height: 32vw; object-fit: cover;" allowfullscreen="true" allowscriptaccess="always" frameborder="0">
          </iframe>
        </div> 
        <div class="card-body text-center">
          <p class="display-5" id='promptText' style="color: #B31B1B">Introduce yourself. Ask their name and pronouns.</p>
        </div>
        <pre id="log"></pre>
      <div class="row">
        <div class="col-6">
          <a class="nav-link" href="training-m2-clinical.html">
          <button class="btn btn-dark" type="button">Back</button>
          </a>
        </div>
        <div class="col-6 text-end">
          <a class="nav-link" href="training-landing.html">
          <button class="btn btn-dark" type="button">Finish</button>
          </a>
        </div>
        </div>
      </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    
    let parents = document.getElementById("parents");
    let streamParent = document.getElementById('streamParent');

    let vidParent = document.getElementById('vidParent');
    let vid = document.getElementById("vid");

    let replayParent = document.getElementById("replayParent");

    let promptText = document.getElementById("promptText");

    let recordingTimeMS = 8000; // length of the video
    
    function playVid() {
      replayParent.style.display = "none";
      vid.contentWindow.postMessage('{"event":"command","func":"playVideo","args":""}', '*');
    }

    function stopVid() {
      vid.contentWindow.postMessage('{"event":"command","func":"pauseVideo","args":""}', '*');
    }

    let drawCtx = null;
    let preview = document.getElementById("stream");
    let recording = document.getElementById("replay");
    let startButton = document.getElementById("startRecord");
    let stopButton = document.getElementById("stopRecord");
    let restartButton = document.getElementById("restartButton");
    let downloadButton = document.getElementById("showReplay");
    let logElement = document.getElementById("log");
    let drSuperParent = document.getElementById("drSuperParent");

    function showReplay() {
      parents.style.display = "none";
      promptText.style.display = "none";
      replayParent.style.display = "inline";

      startButton.style.display = "none";
      stopButton.style.display = "none";
      downloadButton.style.display = "none";
      restartButton.style.display = "inline";
    }

    function drSuper() {
      replayParent.style.display = "none";
      drSuperParent.style.display = "inline";
    }

    function restartFunction() {
      parents.style.display = "inline";
      replayParent.style.display = "none";

      startButton.style.display = "inline";
      stopButton.style.display = "inline";
      downloadButton.style.display = "inline";
      restartButton.style.display = "none";

      vid.currentTime = 0;
      vid.load();
    }

    function log(msg) {
      logElement.innerHTML += msg + "\n";
    }

    function wait(delayInMS) {
      return new Promise(resolve => setTimeout(resolve, delayInMS));
    }

    let timeInterval = null;

    function reps() {
      streamParent.toBlob(upload, "image/jpeg");
    }

    function blobToDataURL(blob, callback) {
        var a = new FileReader();
        a.onload = function(e) {callback(e.target.result);}
        a.readAsDataURL(blob);
    }

    function startRecording(stream, lengthInMS) {
      let recorder = new MediaRecorder(stream);
      let data = [];

      recorder.ondataavailable = function(e) {
        log('1');
        let dt = e.data;
        log('2');
        let obj = document.createElement('a');
        log('3');
        blobToDataURL(dt, function(dataurl){
          link.href = dataurl;
        });
        log('4');
        let eblob = new Blob(obj, {type: 'image/jpeg'})
        log('5');
        data.push(eblob);
      }
      
      // recorder.ondataavailable = event => data.push(event);
      // log(data);
      // log(blobevents);
      recorder.start();
      // vid.play();
      vid.contentWindow.postMessage('{"event":"command","func":"playVideo","args":""}', '*');

      let stopped = new Promise((resolve, reject) => {
        recorder.onstop = resolve;
        recorder.onerror = event => reject(event.name);
      });

      let recorded = wait(lengthInMS).then(
        () => recorder.state == "recording" && recorder.stop()
      );

      return Promise.all([
        stopped,
        recorded
      ])
      .then(() => data);
    }

    function stop(stream) {
      stream.getTracks().forEach(track => track.stop());
    }

    function startListener() {
      navigator.mediaDevices.getUserMedia({video: true, audio: true})
      .then(stream => {
        preview.srcObject = stream;
        downloadButton.href = stream;
        preview.captureStream = preview.captureStream || preview.mozCaptureStream;
        return new Promise(resolve => preview.onplaying = resolve)})
      .then(() => startRecording(stream.captureStream(), recordingTimeMS))
      .then (recordedChunks => {
        log("Sending video blob to upload");
        recordedChunks.forEach((element, index) => {
          log("Iteration");
          // bt = new Blob(element, {type: 'image/jpeg'});
          // recordedChunks[index] = upload_video(new Blob(element, {type: 'image/jpeg'}));
          log(element);
          log("Got a Blob");
          // let blobf = new Blob(element, {type: 'image/jpeg'});
          let fd = new FormData();
          log("Form1");
          // let bb = new Blob(element, {type: 'image/jpeg'});
          log("type of element : " + typeof element);
          let bb = new Blob(element.data, {type: 'image/jpeg'});
          log("create image blob : " + bb)
          log("blob type : " + element.data.prototype.type)
          log("blob buffer : " + element.data.prototype.arrayBuffer())
          fd.append("vid_file", element);
          log("Form");
          let xhr = new XMLHttpRequest();
          xhr.open("POST", "/ml_upload_vid_frames", true);
          log("Upload");
          xhr.onload = function () {
              log(this.status);
              if (this.status == 200) {
                log("Sending Blob to Python");
                new_img = this.response;
                log("Sending Objects to JS");
            }
          };
          xhr.send(fd);
          recordedChunks[index] = new_img;
        })
        log("DONE");

        let recordedBlob = new Blob(recordedChunks, { type: "video/webm" });
        // let objects = upload_video(recordedBlob)
        // log("SAVING!");
        recording.src = URL.createObjectURL(recordedBlob);
        // log("SAVED!");
        downloadButton.href = recording.src;
        // log("File located at  " + URL.createObjectURL(recordedBlob));
        downloadButton.download = "RecordedVideo.webm";

        // log("Successfully recorded " + recordedBlob.size + " bytes of " +
        //     recordedBlob.type + " media.");
      })
      .catch((error) => {
        if (error.name === "NotFoundError") {
          // log("Camera or microphone not found. Can't record.");
        } else {
          // log(error);
        }
      });
    }

    function stopListener() {
      // log("Stopped Listening");
      stop(preview.srcObject);
    }

    function upload(blob) {
      log("Got a Blob");
      var fd = new FormData();
      fd.append("file", blob);
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/ml_upload", true);
      xhr.onload = function () {
        if (this.status == 200) {
          log("Sending Blob to Python");
          objects = JSON.parse(this.response);
          log("Sending Objects to JS");
          xhr.send(fd);
          return objects
        }
      };
      xhr.send(fd);
    }

    function upload_video(blob) {
      log("Got a Blob");
      var fd = new FormData();
      fd.append("vid_file", blob);
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/ml_upload_vid_frames", true);
      xhr.onload = function () {
        if (this.status == 200) {
          log("Sending Blob to Python");
          new_img = this.response;
          log("Sending Objects to JS");
          xhr.send(fd);
          return new_img
        }
      };
      xhr.send(fd);
    }

    let adjustedCanvas = false;

    function adjustCanvas(bool) {
      if (!adjustedCanvas || bool) {
        drawCtx.lineWidth = "5";
        drawCtx.strokeStyle = "blue";
        drawCtx.font = "20px Verdana";
        drawCtx.fillStyle = "red";
        adjustedCanvas = true;
      }
    }

    function drawBoxes(objects) {
      // log("Got the Objects");
      objects.forEach(object => {
        let label = object.label;
        let score = Number(object.score);
        let x = Number(object.x);
        // log('X is ', x);
        let y = Number(object.y);
        let width = Number(object.width);
        let height = Number(object.height);
        analytics[label] += 1;
        adjustCanvas(true);
        drawCtx.fillText(label + " - " + score, x + 5, y + 20);
        drawCtx.strokeRect(x, y, width, height);
      });
    }
  </script>

{% endblock javascripts %}
