{% extends "layouts/base.html" %}

{% block title %} Module 2 - Intro Neutral {% endblock %} 

{% block stylesheets %}
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.179.0.min.js"></script>
{% endblock stylesheets %}

{% block content %}

  <div class="body flex-grow-1 px-3" >
    <div class="container-lg">
        <div class ="card-body text-center">
          <div class="start-stop">
            <button class="btn btn-dark" type="button" id="startRecord" onclick="startListener()">Start</button>
            <button class="btn btn-dark" type="button" id='drSuperButton' onclick="drSuper()" style="display: none" >Show Dr. Superstar</p>
            <button class="btn btn-primary" type="button" id="showReplay" onclick="showReplay()">Next</button>
          </div>
        </div>
        <div id="parents" class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col">
            <div id="streamParent" class ="card-body text-center">
              <video id="stream" style="width: 100%; height: 25vw; object-fit: cover;" autoplay="" muted=""></video>
            </div> 
          </div>
          <div class="col">
            <div id="vidParent" class ="card-body text-center">
              <video id="vid" controls="controls" controlsList=”nodownload” style="width: 90%; height: 32vw; object-fit: cover;">
                <source src="https://medship.s3.amazonaws.com/Intro.Neutral.Pt.mp4" type="video/mp4">
              </video>
            </div>
          </div>
        </div>
        <div id="replayParent" class ="card-body text-center" style="display: none">
          <video id="replay" style="width: 90%; height: 32vw; object-fit: cover;" controls></video>
        </div> 
        <div id="drSuperParent" class ="card-body text-center" style="display: none">
          <video id="drSuperVid" controls="controls" controlsList=”nodownload” style="width: 90%; height: 32vw; object-fit: cover;">
            <source src="https://medship.s3.amazonaws.com/SplitClips.Superstar+3.MOV" type="video/quicktime">
          </video>
        </div> 
        <div class="card-body text-center">
          <p class="display-5" id='promptText' style="color: #B31B1B">Introduce yourself. Ask their name and pronouns.</p>
        </div>
      <div class="row">
        <div class="col-6">
          <a class="nav-link" href="training-m2-clinical.html">
          <button class="btn btn-dark" type="button">Back</button>
          </a>
        </div>
        <div class="col-6 text-end">
          <a class="nav-link" href="training-landing.html">
          <button class="btn btn-dark" type="button">Finish</button>
          </a>
        </div>
        </div>
      </div>
      <video id='testvid' controls="controls" controlsList=”nodownload” width="640" height="360">
        <source src="https://medship.s3.amazonaws.com/svwdvkdqox.webm" type="video/webm">
      </video>
      <pre id="log"></pre>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    let parents = document.getElementById("parents");
    let streamParent = document.getElementById('streamParent');
    let vidParent = document.getElementById('vidParent');
    let vid = document.getElementById("vid");
    let replayParent = document.getElementById("replayParent");
    let recordingTimeMS = 8000;
    let preview = document.getElementById("stream");
    let recording = document.getElementById("replay");
    let startButton = document.getElementById("startRecord");
    let downloadButton = document.getElementById("showReplay");
    let drSuperButton = document.getElementById("drSuperButton");
    let logElement = document.getElementById("log");
    let drSuperParent = document.getElementById("drSuperParent");
    let testvid = document.getElementById('testvid');
    let promptText = document.getElementById('promptText');


    function showReplay() {
      parents.style.display = "none";
      promptText.style.display = "none";
      replayParent.style.display = "inline";
      startButton.style.display = "none";
      // stopButton.style.display = "none";
      downloadButton.style.display = "none";
      // restartButton.style.display = "inline";
      getfilename();
    }


    function drSuper() {
      replayParent.style.display = "none";
      drSuperParent.style.display = "inline";
    }


    function log(msg) {
      logElement.innerHTML += msg + "\n";
    }


    function wait(delayInMS) {
      return new Promise(resolve => setTimeout(resolve, delayInMS));
    }


    function startRecording(stream, lengthInMS) {
      let recorder = new MediaRecorder(stream);
      let data = [];
    
      recorder.ondataavailable = event => data.push(event.data);
      recorder.start();
      vid.play();

      let stopped = new Promise((resolve, reject) => {
        recorder.onstop = resolve;
        recorder.onerror = event => reject(event.name);
      });

      let recorded = wait(lengthInMS).then(
        () => recorder.state == "recording" && recorder.stop()
      );

      return Promise.all([
        stopped,
        recorded
      ])
      .then(() => data);
    }


    function stop(stream) {
      stream.getTracks().forEach(track => track.stop());
    }

    let filename = null;

    function getfilename() {
      log('filename ' + filename);
      localStorage.setItem("filename",filename);
      recording.src = filename;
    }

    function startListener() {
      navigator.mediaDevices.getUserMedia({video: true, audio: true})
      .then(stream => {
        preview.srcObject = stream;
        downloadButton.href = stream;
        preview.captureStream = preview.captureStream || preview.mozCaptureStream;
        return new Promise(resolve => preview.onplaying = resolve)})
      .then(() => startRecording(stream.captureStream(), recordingTimeMS))
      .then (recordedChunks => {
        let recordedBlob = new Blob(recordedChunks, { type: "video/webm" });
        filename = upload_video(recordedBlob);
      })
      //   wait(3000);
      //   return new Promise(resolve => resolve(filename))})
      // .then(filename => {
      //   log('got filename from promise, ' + filename)
      //   localStorage.setItem("filename",filename);
      //   recording.src = filename;
      // })
      //   localStorage.setItem("filename",filename);
      //   // wait(5000);
      //   // testvid.src = filename;
      //   // recording.src = URL.createObjectURL(recordedBlob);
      //   recording.src = filename;
      // })
    }


    function upload_video(blob) {
      var fd = new FormData();
      fd.append('vid_file', blob);
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/ml_upload_vid_frames", true);
      xhr.onload = function () {
        if (this.status == 200) {
          return this.response
        };
      }
      xhr.send(fd);
    }
  </script>

{% endblock javascripts %}
