{% extends "layouts/base.html" %}

{% block title %} Module 1 {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

  <div class="body flex-grow-1 px-3" >
    <div class="container-lg">
        <div class ="card-body text-center">
          <div class="start-stop">
            <button class="btn btn-dark" type="button" id="startRecord" onclick="playVid(); startListener()">Start</button>
            <button class="btn btn-primary" type="button" id="stopRecord" onclick="stopVid(); stopListener()">Stop</button>
            <button class="btn btn-primary" type="button" id="showReplay" onclick="showReplay()">Next</button>
          </div>
        </div>
        <div id="vidParent" class ="card-body text-center">
          <video id="patientVid" src="/static/assets/img/ClinicalScenario2_01.mp4" alt="Clinical Scenario 2 - 01" style="width: 90%; height: 32vw; object-fit: cover;"></video>
        </div>
        <div id="streamHidden" class ="card-body text-center" style="display: none" >
          <video id="streamVid"style="width: 90%; height: 32vw; object-fit: cover;" ></video>
        </div> 
        <div id="replayParent" class ="card-body text-center" style="display: none">
          <video id="replayVid" style="width: 90%; height: 32vw; object-fit: cover;" controls autoplay></video>
        </div> 
        <div class="card-body text-center">
          <p class="display-5" style="color: #B31B1B"> Introduce yourself. Ask their name and pronouns.</p>
        </div>
        <pre id="log"></pre>
      <div class="row">
        <div class="col-6">
          <a class="nav-link" href="training-m1-clinical.html">
          <button class="btn btn-dark" type="button">Back</button>
          </a>
        </div>
        <div class="col-6 text-end">
          <a class="nav-link" href="training-landing.html">
          <button class="btn btn-dark" type="button">Finish</button>
          </a>
        </div>
        </div>
      </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    let vid = document.getElementById("patientVid");
    let replayParent = document.getElementById("replayParent")
    let vidParent = document.getElementById("vidParent")
    
    function playVid() {
      vid.play();
    }

    function stopVid() {
      vid.pause();
    }

    function showReplay() {
      vidParent.style.display = "none";
      replayParent.style.display = "block";
    }

    let preview = document.getElementById("streamVid");
    let recording = document.getElementById("replayVid");
    let startButton = document.getElementById("startRecord");
    let stopButton = document.getElementById("stopRecord");
    let downloadButton = document.getElementById("showReplay");
    let logElement = document.getElementById("log");

    let recordingTimeMS = 5000;

    function log(msg) {
      logElement.innerHTML += msg + "\n";
    }

    log('log is working!')

    function wait(delayInMS) {
      return new Promise(resolve => setTimeout(resolve, delayInMS));
    }

    function startRecording(stream, lengthInMS) {
      log(recorder.state + " for " + (lengthInMS/1000) + " seconds...");
      let recorder = new MediaRecorder(stream);
      let data = [];

      recorder.ondataavailable = event => data.push(event.data);
      recorder.start();
      log(recorder.state + " for " + (lengthInMS/1000) + " seconds...");

      let stopped = new Promise((resolve, reject) => {
        recorder.onstop = resolve;
        recorder.onerror = event => reject(event.name);
      });

      let recorded = wait(lengthInMS).then(
        () => recorder.state == "recording" && recorder.stop()
      );

      return Promise.all([
        stopped,
        recorded
      ])
      .then(() => data);
    }

    function stop(stream) {
      stream.getTracks().forEach(track => track.stop());
    }

    // startButton.addEventListener("click", 
    function startListener() {
      log("listening!");
      navigator.mediaDevices.getUserMedia({
        video: true,
        audio: true
      }).then(stream => {
        log("streaming!");
        preview.srcObject = stream;
        downloadButton.href = stream;
        preview.captureStream = preview.captureStream || preview.mozCaptureStream;
        return new Promise(resolve => preview.onplaying = resolve);
      }).then(() => startRecording(stream.captureStream(), recordingTimeMS))
      .then (recordedChunks => {
        log("about to SAVE!");
        let recordedBlob = new Blob(recordedChunks, { type: "video/webm" });
        log("SAVING!");
        recording.src = URL.createObjectURL(recordedBlob);
        log("SAVED!");
        downloadButton.href = recording.src;
        log("File located at  " + URL.createObjectURL(recordedBlob));
        downloadButton.download = "RecordedVideo.webm";

        log("Successfully recorded " + recordedBlob.size + " bytes of " +
            recordedBlob.type + " media.");
      })
      .catch((error) => {
        if (error.name === "NotFoundError") {
          log("Camera or microphone not found. Can't record.");
        } else {
          log(error);
        }
      });
    }
    // }, false);

    // stopButton.addEventListener("click", function() {
    function stopListener() {
      log("stopped!");
      stop(preview.srcObject);
    }
    // }, false);
  </script>

{% endblock javascripts %}
